/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/@wordpress/scripts/node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/scss/blocks/core/navigation.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
/**
 * Theme.json widths
 */
/**
 * Theme.json Set Color Variables
 */
/**
 * Theme.json Set Font Variables
 */
/**
 * Theme.json Set Spacing Variables
 */
/**
 * Theme.json Custom Variables
 */
/**
 * Wordpress misc Variables
 */
@media (min-width: 750px) {
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: none;
  }
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: inherit;
  }
}
@media (max-width: 750px) {
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: inherit;
  }
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: none;
  }
}
header:has(.wp-block-navigation.is-style-mega-menu) .header__main-wrapper {
  position: relative;
}

.wp-block-navigation.is-style-mega-menu:not(:has(.is-menu-open)) {
  position: static;
}
.wp-block-navigation.is-style-mega-menu:not(:has(.is-menu-open)) .wp-block-navigation__responsive-container:not(.is-menu-open) {
  position: unset;
}
.wp-block-navigation.is-style-mega-menu:not(:has(.is-menu-open)) .wp-block-navigation__responsive-container:not(.is-menu-open) .wp-block-navigation__responsive-dialog,
.wp-block-navigation.is-style-mega-menu:not(:has(.is-menu-open)) .wp-block-navigation__responsive-container:not(.is-menu-open) .wp-block-navigation-submenu,
.wp-block-navigation.is-style-mega-menu:not(:has(.is-menu-open)) .wp-block-navigation__responsive-container:not(.is-menu-open) .block-editor-block-list__layout {
  position: unset;
}
.wp-block-navigation.is-style-mega-menu:not(:has(.is-menu-open)) .wp-block-navigation__responsive-container:not(.is-menu-open) .wp-block-navigation__submenu-container.wp-block-navigation__submenu-container {
  position: absolute;
  min-width: 100svw !important;
  min-height: -moz-min-content;
  min-height: min-content;
  padding: var(--wp--preset--spacing--large);
}
.wp-block-navigation.is-style-mega-menu:not(:has(.is-menu-open)) .wp-block-buttons {
  padding-left: var(--wp--preset--spacing--small);
}

.wp-block-navigation .wp-block-navigation__responsive-container-open,
.wp-block-navigation__responsive-container-close {
  margin-right: auto;
  padding: var(--wp--preset--spacing--medium);
}
.wp-block-navigation .wp-block-navigation__responsive-container-open svg,
.wp-block-navigation__responsive-container-close svg {
  min-width: 3em;
  min-height: 3em;
}

.wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open {
  max-width: 100svw;
  overflow-x: clip;
}
.wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item {
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: flex-start;
  align-items: start;
  width: 100%;
}
.wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content {
  align-items: center;
  width: 100%;
  height: 100svh;
  padding: var(--wp--preset--spacing--medium);
  align-items: stretch;
}
.wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content > *, .wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .submenu__columns {
  min-width: 100%;
  margin: auto;
}
@media (max-width: 781px) {
  .wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content > * ul,
  .wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content > * li, .wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .submenu__columns ul,
  .wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .submenu__columns li {
    width: 100%;
  }
  .wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content > * .submenu__column, .wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .submenu__columns .submenu__column {
    width: 100%;
  }
  .wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content > * .submenu__column ul, .wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .submenu__columns .submenu__column ul {
    gap: var(--wp--preset--spacing--small) !important;
  }
}
.wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-button {
  width: 100%;
}
