/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/@wordpress/scripts/node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/scss/blocks/core/details.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
/**
 * Theme.json widths
 */
/**
 * Theme.json Set Color Variables
 */
/**
 * Theme.json Set Font Variables
 */
/**
 * Theme.json Set Spacing Variables
 */
/**
 * Theme.json Custom Variables
 */
/**
 * Wordpress misc Variables
 */
.wp-block-details {
  border-bottom: var(--wp--preset--color--contrast) 1px solid;
  counter-increment: details 1;
  overflow: unset;
}
.wp-block-details summary {
  padding: var(--wp--preset--spacing--small) 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
  gap: var(--wp--preset--spacing--small);
  font-size: var(--wp--preset--font-size--x-large);
  background-color: var(--wp--preset--color--base);
  position: sticky;
  top: 0;
  z-index: 1;
}
.wp-block-details summary > * {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  max-width: 90%;
}
.wp-block-details summary > * > span {
  color: var(--wp--preset--color--primary);
  font-size: var(--wp--preset--font-size--small);
}
.wp-block-details summary::after {
  content: "+";
  font-family: var(--wp--preset--font-family--icon);
  font-weight: 100;
  font-size: inherit;
  color: var(--wp--preset--color--primary);
  line-height: 1;
  position: absolute;
  right: 0;
  left: auto;
  transition: rotate 0.25s ease-out;
}
.wp-block-details.has-faq-schema summary {
  font-size: var(--wp--preset--font-size--large);
}
.wp-block-details ::marker, .wp-block-details ::-webkit-details-marker {
  display: none;
  visibility: hidden;
}
.wp-block-details > *:not(summary) {
  margin-block-end: var(--wp--preset--spacing--x-large) !important;
}
.wp-block-details[open] > *:not(summary) {
  z-index: 1;
  animation: details-open-fade 0.5s ease-out;
  transition-behavior: allow-discrete;
}
.wp-block-details[open] summary:after {
  rotate: 45deg;
}

@media (min-width: 900px) {
  .is-pattern-tabbed-top {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: var(--wp--preset--spacing--large);
  }
  .is-pattern-tabbed-top .wp-block-details.is-style-tabbed {
    display: contents;
  }
  .is-pattern-tabbed-top .wp-block-details.is-style-tabbed summary {
    font-size: var(--wp--preset--font-size--small);
    flex: 1 0;
    position: unset;
  }
  .is-pattern-tabbed-top .wp-block-details.is-style-tabbed[open] summary {
    border-bottom: solid var(--wp--preset--color--contrast) 2px;
  }
  .is-pattern-tabbed-top .wp-block-details.is-style-tabbed > *:not(summary) {
    flex: 1 0 100%;
    margin: 0;
    padding: 0;
    -o-object-fit: cover;
       object-fit: cover;
    order: 1;
  }
}

.is-pattern-tabbed-side {
  position: relative;
}
.is-pattern-tabbed-side .wp-block-details.is-style-tabbed {
  border-bottom: unset;
  padding: 0;
}
@media (min-width: 900px) {
  .is-pattern-tabbed-side .wp-block-details.is-style-tabbed summary {
    font-size: var(--wp--preset--font-size--large);
    flex: 1 0;
    background-color: var(--wp--preset--color--transparent);
    position: relative;
  }
  .is-pattern-tabbed-side .wp-block-details.is-style-tabbed[open] summary {
    font-weight: bold;
  }
  .is-pattern-tabbed-side .wp-block-details.is-style-tabbed > *:not(summary) {
    margin: 0;
    padding: 0;
    -o-object-fit: cover;
       object-fit: cover;
    margin-block-end: unset !important;
  }
  .is-pattern-tabbed-side .wp-block-details.is-style-tabbed .is-pattern-tabbed-side-content-left {
    width: 40%;
    padding-bottom: var(--wp--preset--spacing--large);
  }
  .is-pattern-tabbed-side .wp-block-details.is-style-tabbed .is-pattern-tabbed-side-content-right {
    position: absolute;
    z-index: 10;
    inset: 0 0 0 auto;
    width: 50%;
  }
}

@keyframes details-open-fade {
  from {
    opacity: 0;
  }
}

/*# sourceMappingURL=core--details.css.map*/