/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/scss/blocks/core/term-description.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
/**
 * Theme.json Set Color Variables
 */
/**
 * Theme.json Set Font Variables
 */
/**
 * Theme.json Set Spacing Variables
 */
/**
 * Theme.json Custom Variables
 */
/**
 * Misc.
 */
.wp-block-term-description {
  text-wrap: balance;
}
.wp-block-term-description.has-medium-font-size {
  font-size: calc(var(--wp--preset--font-size--medium) + 10%) !important;
  font-style: normal;
  font-weight: 700;
}
.wp-block-term-description.has-large-font-size {
  font-size: calc(var(--wp--preset--font-size--large) + 30%) !important;
}
.wp-block-term-description.has-x-large-font-size {
  font-size: calc(var(--wp--preset--font-size--x-large) + 140%) !important;
}
.wp-block-term-description.has-xx-large-font-size {
  font-size: calc(var(--wp--preset--font-size--xx-large) + 200%) !important;
}
