/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/scss/blocks/core/navigation-link.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
/**
 * Theme.json Set Color Variables
 */
/**
 * Theme.json Set Font Variables
 */
/**
 * Theme.json Set Spacing Variables
 */
/**
 * Theme.json Custom Variables
 */
/**
 * Misc.
 */
.wp-block-navigation .wp-block-navigation-item, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item {
  text-wrap-style: balance;
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-icon .wp-block-navigation-submenu__toggle.wp-block-navigation-submenu__toggle, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-icon .wp-block-navigation-submenu__toggle.wp-block-navigation-submenu__toggle {
  padding: 0 0 0 0;
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-icon .wp-block-navigation__submenu-icon, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-icon .wp-block-navigation__submenu-icon {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-button .wp-block-navigation-item__content, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-button .wp-block-navigation-item__content {
  padding: var(--wp--preset--spacing--small) var(--wp--preset--spacing--medium);
  background-color: var(--wp--preset--color--primary);
  border-radius: var(--wp--custom--radius-small);
  color: var(--wp--preset--color--base);
  font-size: var(--wp--preset--font-size--medium);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-button .wp-block-navigation-item__content::before, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-button .wp-block-navigation-item__content::before {
  content: "";
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2217%22%20viewBox%3D%220%200%2018%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-right-small%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.9372%204.47005C10.3856%203.40561%208.96373%202.43024%208.98313%201.67786C9.06703%20-1.59608%2017.6602%206.85137%2017.6602%208.42688C17.6602%2010.0024%2011.5974%2015.0865%209.41969%2016.053C8.26137%2014.7095%2010.1385%2013.5055%2012.1534%2012.2131C13.5796%2011.2983%2015.0748%2010.3393%2015.6115%209.25518C15.2768%209.23202%2014.8599%209.18443%2014.3463%209.1258C12.7675%208.94557%2010.275%208.66104%206.44477%208.66104C6.24278%208.66104%205.88925%208.70421%205.45512%208.75723C3.79664%208.95976%200.961872%209.30595%200.906044%207.93743C0.857861%206.75629%202.22789%206.888%204.32034%207.08916C5.28692%207.18209%206.40766%207.28983%207.61397%207.28983C10.3459%207.28983%2013.8795%207.28984%2015.6684%207.79231C15.1661%206.68499%2013.4869%205.5331%2011.9372%204.47005Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2217%22%20viewBox%3D%220%200%2018%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-right-small%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.9372%204.47005C10.3856%203.40561%208.96373%202.43024%208.98313%201.67786C9.06703%20-1.59608%2017.6602%206.85137%2017.6602%208.42688C17.6602%2010.0024%2011.5974%2015.0865%209.41969%2016.053C8.26137%2014.7095%2010.1385%2013.5055%2012.1534%2012.2131C13.5796%2011.2983%2015.0748%2010.3393%2015.6115%209.25518C15.2768%209.23202%2014.8599%209.18443%2014.3463%209.1258C12.7675%208.94557%2010.275%208.66104%206.44477%208.66104C6.24278%208.66104%205.88925%208.70421%205.45512%208.75723C3.79664%208.95976%200.961872%209.30595%200.906044%207.93743C0.857861%206.75629%202.22789%206.888%204.32034%207.08916C5.28692%207.18209%206.40766%207.28983%207.61397%207.28983C10.3459%207.28983%2013.8795%207.28984%2015.6684%207.79231C15.1661%206.68499%2013.4869%205.5331%2011.9372%204.47005Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: currentColor;
  width: 1em;
  height: 1em;
  display: flex;
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-button .wp-block-navigation-item__content::after, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-button .wp-block-navigation-item__content::after {
  content: "";
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2217%22%20viewBox%3D%220%200%2018%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-right-small%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.9372%204.47005C10.3856%203.40561%208.96373%202.43024%208.98313%201.67786C9.06703%20-1.59608%2017.6602%206.85137%2017.6602%208.42688C17.6602%2010.0024%2011.5974%2015.0865%209.41969%2016.053C8.26137%2014.7095%2010.1385%2013.5055%2012.1534%2012.2131C13.5796%2011.2983%2015.0748%2010.3393%2015.6115%209.25518C15.2768%209.23202%2014.8599%209.18443%2014.3463%209.1258C12.7675%208.94557%2010.275%208.66104%206.44477%208.66104C6.24278%208.66104%205.88925%208.70421%205.45512%208.75723C3.79664%208.95976%200.961872%209.30595%200.906044%207.93743C0.857861%206.75629%202.22789%206.888%204.32034%207.08916C5.28692%207.18209%206.40766%207.28983%207.61397%207.28983C10.3459%207.28983%2013.8795%207.28984%2015.6684%207.79231C15.1661%206.68499%2013.4869%205.5331%2011.9372%204.47005Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2217%22%20viewBox%3D%220%200%2018%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-right-small%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.9372%204.47005C10.3856%203.40561%208.96373%202.43024%208.98313%201.67786C9.06703%20-1.59608%2017.6602%206.85137%2017.6602%208.42688C17.6602%2010.0024%2011.5974%2015.0865%209.41969%2016.053C8.26137%2014.7095%2010.1385%2013.5055%2012.1534%2012.2131C13.5796%2011.2983%2015.0748%2010.3393%2015.6115%209.25518C15.2768%209.23202%2014.8599%209.18443%2014.3463%209.1258C12.7675%208.94557%2010.275%208.66104%206.44477%208.66104C6.24278%208.66104%205.88925%208.70421%205.45512%208.75723C3.79664%208.95976%200.961872%209.30595%200.906044%207.93743C0.857861%206.75629%202.22789%206.888%204.32034%207.08916C5.28692%207.18209%206.40766%207.28983%207.61397%207.28983C10.3459%207.28983%2013.8795%207.28984%2015.6684%207.79231C15.1661%206.68499%2013.4869%205.5331%2011.9372%204.47005Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: currentColor;
  width: 1em;
  height: 1em;
  display: flex;
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-button .wp-block-navigation-item__content::after, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-button .wp-block-navigation-item__content::after {
  width: 0;
  translate: -1em 0;
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-button .wp-block-navigation-item__content::before, .wp-block-navigation .wp-block-navigation-item.is-style-link-button .wp-block-navigation-item__content::after, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-button .wp-block-navigation-item__content::before, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-button .wp-block-navigation-item__content::after {
  transition: width var(--wp--custom--ease-circ) 0.1s, scale var(--wp--custom--ease-bounce) 0.75s, translate var(--wp--custom--ease-bounce) 0.5s;
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-button:hover, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-button:hover {
  filter: brightness(1.05);
  scale: 1.025 1;
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-button:hover > *::before, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-button:hover > *::before {
  width: 0;
  translate: 1em 0;
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-button:hover > *::after, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-button:hover > *::after {
  width: 1em;
  translate: 0 0;
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-chevron .wp-block-navigation-item__content span, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-chevron .wp-block-navigation-item__content span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-chevron .wp-block-navigation-item__content span::after, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-chevron .wp-block-navigation-item__content span::after {
  content: "";
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%2215%22%20viewBox%3D%220%200%2010%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-head-right%22%20d%3D%22M0.82247%2013.4732C0.780755%2012.028%207.13017%209.76886%207.03866%207.55701C6.88674%203.88495%20-0.361915%203.08936%201.77824%200.8719C3.91533%201.71917%209.8648%205.09845%209.8648%207.55701C9.8648%208.9381%200.904804%2016.3431%200.82247%2013.4732Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%2215%22%20viewBox%3D%220%200%2010%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-head-right%22%20d%3D%22M0.82247%2013.4732C0.780755%2012.028%207.13017%209.76886%207.03866%207.55701C6.88674%203.88495%20-0.361915%203.08936%201.77824%200.8719C3.91533%201.71917%209.8648%205.09845%209.8648%207.55701C9.8648%208.9381%200.904804%2016.3431%200.82247%2013.4732Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: currentColor;
  min-width: 0.7em;
  min-height: 0.7em;
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-chevron:hover .wp-block-navigation-item__content span::after, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-chevron:hover .wp-block-navigation-item__content span::after {
  animation: arrow-bounce 1s var(--wp--custom--ease-circ);
}
@keyframes arrow-bounce {
  0%, 100% {
    translate: 0 0;
  }
  30% {
    translate: 0.5em 0;
  }
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-box, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-box {
  flex: 1;
  flex-wrap: nowrap;
  flex-direction: row !important;
  width: 100%;
  max-width: 440px;
  border-radius: var(--wp--custom--radius-small);
  padding: var(--wp--preset--spacing--medium);
  background-color: var(--wp--preset--color--tertiary-2) !important;
  gap: var(--wp--preset--spacing--large);
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-box .wp-block-navigation-item__content, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-box .wp-block-navigation-item__content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  gap: 0.5;
  height: 100%;
  width: 100%;
  padding: var(--wp--preset--spacing--medium);
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-box .wp-block-navigation-item__label, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-box .wp-block-navigation-item__label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  justify-content: flex-start;
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-box .wp-block-navigation-item__label::after, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-box .wp-block-navigation-item__label::after {
  content: "";
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%2215%22%20viewBox%3D%220%200%2010%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-head-right%22%20d%3D%22M0.82247%2013.4732C0.780755%2012.028%207.13017%209.76886%207.03866%207.55701C6.88674%203.88495%20-0.361915%203.08936%201.77824%200.8719C3.91533%201.71917%209.8648%205.09845%209.8648%207.55701C9.8648%208.9381%200.904804%2016.3431%200.82247%2013.4732Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%2215%22%20viewBox%3D%220%200%2010%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-head-right%22%20d%3D%22M0.82247%2013.4732C0.780755%2012.028%207.13017%209.76886%207.03866%207.55701C6.88674%203.88495%20-0.361915%203.08936%201.77824%200.8719C3.91533%201.71917%209.8648%205.09845%209.8648%207.55701C9.8648%208.9381%200.904804%2016.3431%200.82247%2013.4732Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: currentColor;
  min-width: 0.7em;
  min-height: 0.7em;
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-box:has(a:hover, a:focus), .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-box:has(a:hover, a:focus) {
  background-color: var(--wp--preset--color--tertiary) !important;
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-box:has(a:hover, a:focus) .wp-block-navigation-item__label::after, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-box:has(a:hover, a:focus) .wp-block-navigation-item__label::after {
  animation: arrow-bounce 1s var(--wp--custom--ease-circ);
}
@keyframes arrow-bounce {
  0%, 100% {
    translate: 0 0;
  }
  30% {
    translate: 0.5em 0;
  }
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-box:has(a:hover, a:focus) img, .wp-block-navigation .wp-block-navigation-item.is-style-link-box:has(a:hover, a:focus) svg, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-box:has(a:hover, a:focus) img, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-box:has(a:hover, a:focus) svg {
  scale: 1.1;
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-box img, .wp-block-navigation .wp-block-navigation-item.is-style-link-box svg, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-box img, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-box svg {
  transition: var(--wp--custom--ease-bounce) var(--wp--custom--speed-medium);
  width: 40%;
  min-width: 30px;
  max-width: 90px;
  height: auto;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  order: -1;
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-tag, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-tag {
  border-radius: var(--wp--custom--radius-small);
  background-color: var(--wp--preset--color--tertiary-2);
}
.wp-block-navigation .wp-block-navigation-item.is-style-link-tag .wp-block-navigation-item__content, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.is-style-link-tag .wp-block-navigation-item__content {
  font-size: var(--wp--preset--font-size--small);
  padding: calc(var(--wp--preset--spacing--small) * 0.5) var(--wp--preset--spacing--small) !important;
}

.submenu-inner-ul__solutions .is-style-link-box img, .submenu-inner-ul__solutions .is-style-link-box svg {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}
