/*!********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/@wordpress/scripts/node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/scss/blocks/core/navigation-mello-menu.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************/
/**
 * Theme.json widths
 */
/**
 * Theme.json Set Color Variables
 */
/**
 * Theme.json Set Font Variables
 */
/**
 * Theme.json Set Spacing Variables
 */
/**
 * Theme.json Custom Variables
 */
/**
 * Wordpress misc Variables
 */
.wp-block-navigation.is-style-mello-menu {
  margin-right: auto;
}
.wp-block-navigation.is-style-mello-menu .block-list-appender.wp-block {
  display: none;
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container-open {
  align-items: center;
  padding: var(--wp--preset--spacing--x-large);
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container-open svg {
  width: 2rem;
  height: 2rem;
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container-open:hover:before {
  transition: translate 0.25s var(--wp--custom--ease-circ);
  translate: -0.5rem 0;
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container.is-menu-open {
  animation: is-menu-open 0.25s ease-out;
}
@keyframes is-menu-open {
  from {
    clip-path: inset(100% 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close {
  height: 100%;
  min-width: 100%;
  overflow: scroll;
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog {
  margin: 0;
  padding: var(--wp--preset--spacing--medium);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-close {
  padding: var(--wp--preset--spacing--x-large);
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-close svg {
  width: 2rem;
  height: 2rem;
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content {
  padding: var(--wp--preset--spacing--x-large);
  flex: 1 0 100%;
  max-width: 1440px;
  margin: auto;
  max-width: 100%;
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container {
  justify-content: center;
  max-width: 400px;
}
@media (min-width: 781px) {
  .wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    grid-template-rows: 1fr 0.05fr;
    gap: var(--wp--preset--spacing--x-large);
    flex: 1;
    align-items: center;
    width: 100%;
    max-width: var(--wp--style--global--wide-size);
  }
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-nav-links-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
  max-height: 50svh;
  width: 100%;
}
@media (min-width: 900px) {
  .wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-nav-links-wrapper {
    justify-content: center;
    flex: 0 1 0;
  }
}
@media (min-width: 781px) {
  .wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-nav-links-wrapper {
    align-content: center;
    align-items: center;
  }
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-nav-cta-wrapper {
  height: 100%;
  max-height: 50svh;
  width: 100%;
}
@media (min-width: 781px) {
  .wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-nav-cta-wrapper {
    flex-wrap: nowrap;
    text-align: center;
    flex: 0;
  }
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-nav-footer-wrapper {
  grid-column: 1/3;
  display: flex;
  flex: 0;
  align-items: center;
  font-size: var(--wp--preset--font-size--small);
  position: relative;
  font-size: 0.9rem;
}
@media (min-width: 781px) {
  .wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-nav-footer-wrapper {
    justify-content: center;
  }
  .wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-nav-footer-wrapper .is-layout-flex {
    justify-content: center;
    text-align: center;
  }
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-nav-footer-wrapper .wp-block-navigation-item__label {
  display: flex;
  gap: var(--wp--preset--spacing--small);
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-nav-footer-wrapper .wp-block-navigation-item__label img, .wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-nav-footer-wrapper .wp-block-navigation-item__label svg {
  width: 1em;
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-nav-footer-wrapper .wp-block-navigation-item__label svg path {
  fill: currentColor;
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-nav-footer-wrapper .wp-block-navigation-item__label:hover, .wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-nav-footer-wrapper .wp-block-navigation-item__label:focus-within {
  color: var(--wp--preset--color--primary);
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-style-link-primary {
  font-size: var(--wp--preset--font-size--xx-large);
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-style-link-primary img {
  pointer-events: none;
  position: absolute;
  inset: 0;
  margin: auto;
  animation: clip-swipe-out 0.25s var(--wp--custom--ease-circ) both;
  mix-blend-mode: difference;
  width: 100%;
  height: auto;
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-style-link-primary:hover {
  transform-origin: center right;
  transform: skewX(10deg);
  translate: 0.15em 0;
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-style-link-primary:hover img {
  animation: clip-swipe-in 0.25s var(--wp--custom--ease-circ) both;
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-style-link-box {
  background-color: var(--wp--preset--color--base);
  border: solid var(--wp--preset--color--contrast) 3px;
  overflow: hidden;
  width: 100%;
  margin: 0;
  flex: 1 0;
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-style-link-box > a {
  height: 100%;
  width: 100%;
  padding: var(--wp--preset--spacing--large);
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-style-link-box > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  scale: 1.1;
  transition: scale 5s var(--wp--custom--ease-circ);
  animation: clip-swipe-out 0.25s var(--wp--custom--ease-circ) both;
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-style-link-box:hover > img, .wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-style-link-box:focus-within > img {
  scale: 1;
  filter: blur(0);
  animation: clip-swipe-in 0.25s var(--wp--custom--ease-circ) both;
}
@keyframes clip-swipe-in {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes clip-swipe-out {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 100%);
  }
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .wp-block-navigation-item a, .wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .wp-block-navigation-item .wp-block-navigation-item__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .wp-block-navigation-item a .wp-block-navigation-item__label, .wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .wp-block-navigation-item .wp-block-navigation-item__content .wp-block-navigation-item__label {
  font-weight: 600;
}
.wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .wp-block-navigation-item a .wp-block-navigation-item__description, .wp-block-navigation.is-style-mello-menu .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content .wp-block-navigation__container .wp-block-navigation-item .wp-block-navigation-item__content .wp-block-navigation-item__description {
  display: block;
  font-size: calc(var(--wp--preset--font-size--small) - 10%);
}

@keyframes menu-open {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
}
.is-style-mello-menu .wp-block-navigation-item:not(.is-nav-footer-wrapper .wp-block-navigation-item) {
  animation: menu-open 500ms;
  animation-timing-function: var(--wp--custom--ease-circ);
  animation-fill-mode: both;
}
.is-style-mello-menu .wp-block-navigation-item:not(.is-nav-footer-wrapper .wp-block-navigation-item):nth-child(1n) {
  animation-delay: 0.05s;
}
.is-style-mello-menu .wp-block-navigation-item:not(.is-nav-footer-wrapper .wp-block-navigation-item):nth-child(2n) {
  animation-delay: 0.1s;
}
.is-style-mello-menu .wp-block-navigation-item:not(.is-nav-footer-wrapper .wp-block-navigation-item):nth-child(3n) {
  animation-delay: 0.15s;
}
.is-style-mello-menu .wp-block-navigation-item:not(.is-nav-footer-wrapper .wp-block-navigation-item):nth-child(4n) {
  animation-delay: 0.2s;
}
.is-style-mello-menu .wp-block-navigation-item:not(.is-nav-footer-wrapper .wp-block-navigation-item):nth-child(5n) {
  animation-delay: 0.25s;
}
.is-style-mello-menu .wp-block-navigation-item:not(.is-nav-footer-wrapper .wp-block-navigation-item):nth-child(6n) {
  animation-delay: 0.3s;
}
.is-style-mello-menu .wp-block-navigation-item:not(.is-nav-footer-wrapper .wp-block-navigation-item):nth-child(7n) {
  animation-delay: 0.35s;
}
.is-style-mello-menu .wp-block-navigation-item:not(.is-nav-footer-wrapper .wp-block-navigation-item):nth-child(8n) {
  animation-delay: 0.4s;
}
.is-style-mello-menu .wp-block-navigation-item:not(.is-nav-footer-wrapper .wp-block-navigation-item):nth-child(9n) {
  animation-delay: 0.45s;
}
.is-style-mello-menu .wp-block-navigation-item:not(.is-nav-footer-wrapper .wp-block-navigation-item):nth-child(10n) {
  animation-delay: 0.5s;
}
