/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/@wordpress/scripts/node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/scss/blocks/core/navigation-submenu.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
/**
 * Theme.json widths
 */
/**
 * Theme.json Set Color Variables
 */
/**
 * Theme.json Set Font Variables
 */
/**
 * Theme.json Set Spacing Variables
 */
/**
 * Theme.json Custom Variables
 */
/**
 * Wordpress misc Variables
 */
.wp-block-navigation .wp-block-navigation-submenu ul.wp-block-list {
  padding-inline-start: 0;
}
.wp-block-navigation .wp-block-navigation-submenu .wp-block-navigation__submenu-icon {
  color: var(--wp--preset--color--secondary);
  width: 0.75em;
  height: 0.75em;
}
.wp-block-navigation .wp-block-navigation-submenu .submenu__columns {
  gap: var(--wp--preset--spacing--small);
  min-width: 100%;
  margin: auto;
  max-width: var(--wp--style--global--content-size);
}
@media (max-width: 781px) {
  .wp-block-navigation .wp-block-navigation-submenu .submenu__columns {
    display: flex;
    flex-direction: column;
    gap: var(--wp--preset--spacing--medium);
  }
}
@media (max-width: 781px) {
  .wp-block-navigation .wp-block-navigation-submenu .submenu__column {
    display: flex;
    flex-direction: column;
    gap: var(--wp--preset--spacing--medium);
  }
}

.wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation.wp-block-navigation-submenu {
  flex-direction: column;
  flex-wrap: nowrap;
}
.wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .submenu__columns {
  gap: var(--wp--preset--spacing--large);
}
.wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .submenu__column {
  padding-bottom: var(--wp--preset--spacing--medium);
}
.wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item__content.wp-block-navigation-submenu__toggle {
  flex: 1 0 100%;
  transition: margin 0.5s var(--wp--custom--ease-circ);
}
.wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__submenu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -100%;
  rotate: -90deg;
  min-width: 1em;
  min-height: 1em;
  scale: 1.5;
}
.wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-submenu > .wp-block-navigation__submenu-container {
  display: none;
  visibility: hidden;
  padding: 0;
}
.wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-submenu:has([aria-expanded=true]) {
  display: grid;
  visibility: visible;
  gap: var(--wp--preset--spacing--large);
}
.wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-submenu:has([aria-expanded=true]) > .wp-block-navigation-item__content.wp-block-navigation-submenu__toggle {
  grid-column: 1;
  grid-row: 1;
  margin-left: 1em;
}
.wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-submenu:has([aria-expanded=true]) > .wp-block-navigation__submenu-container {
  display: block;
  visibility: visible;
  position: static;
}
.wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-submenu:has([aria-expanded=true]) > .wp-block-navigation__submenu-icon {
  margin: 0;
  grid-column: 1;
  grid-row: 1;
  rotate: 90deg;
}
.wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__container:has([aria-expanded=true]) > .wp-block-navigation-item:not(:has([aria-expanded=true])) {
  display: none;
  visibility: hidden;
}
@media (max-width: 781px) {
  .wp-block-navigation.is-style-mega-menu:has(.is-menu-open) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__container:has([aria-expanded=true]) ~ *:not(.wp-block-spacer) {
    display: none;
    visibility: hidden;
  }
}

/*# sourceMappingURL=core--navigation-submenu.css.map*/