/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/scss/blocks/core/post-featured-image.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
/**
 * Theme.json Set Color Variables
 */
/**
 * Theme.json Set Font Variables
 */
/**
 * Theme.json Set Spacing Variables
 */
/**
 * Theme.json Custom Variables
 */
/**
 * Misc.
 */
.wp-block-post-featured-image {
  overflow: clip;
  border-radius: var(--wp--custom--radius-medium);
}
.wp-block-post-featured-image img, .wp-block-post-featured-image video {
  transition: filter 1s var(--wp--custom--ease-circ), scale 2s var(--wp--custom--ease-circ);
}

.wp-block-post-featured-image:has(.hover-squiggles) {
  overflow: visible;
}
.wp-block-post-featured-image:has(.hover-squiggles) img {
  border-radius: var(--wp--custom--radius-medium);
  overflow: clip;
}
.wp-block-post-featured-image:has(.hover-squiggles) .hover-squiggles {
  position: absolute;
  inset: 0;
  overflow: visible;
  pointer-events: none;
  opacity: 1;
}
.wp-block-post-featured-image:has(.hover-squiggles) .hover-squiggles img, .wp-block-post-featured-image:has(.hover-squiggles) .hover-squiggles svg {
  position: absolute;
  aspect-ratio: 1;
  width: 30%;
  -o-object-fit: contain;
     object-fit: contain;
  animation: rotate-small 1s infinite alternate-reverse steps(4);
}
.wp-block-post-featured-image:has(.hover-squiggles) .hover-squiggles img *, .wp-block-post-featured-image:has(.hover-squiggles) .hover-squiggles svg * {
  fill: var(--wp--preset--color--secondary);
}
.wp-block-post-featured-image:has(.hover-squiggles) .hover-squiggles img:nth-child(1), .wp-block-post-featured-image:has(.hover-squiggles) .hover-squiggles svg:nth-child(1) {
  top: -3%;
  right: -3%;
}

.has-background .wp-block-post-featured-image {
  filter: brightness(1.05);
}
