/*!*********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/scss/blocks/core/search.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************/
/**
 * Theme.json Set Color Variables
 */
/**
 * Theme.json Set Font Variables
 */
/**
 * Theme.json Set Spacing Variables
 */
/**
 * Theme.json Custom Variables
 */
/**
 * Misc.
 */
.wp-block-search__input {
  background-color: transparent;
  color: var(--wp--preset--color--contrast);
  border-radius: var(--wp--custom--radius-small);
}
.wp-block-search ::-moz-placeholder {
  color: var(--wp--preset--color--contrast);
}
.wp-block-search ::placeholder {
  color: var(--wp--preset--color--contrast);
}

:root :where(.wp-block-search .wp-block-search__label, .wp-block-search .wp-block-search__input, .wp-block-search .wp-block-search__button) {
  font-size: var(--wp--preset--font-size--large);
}
