/*!********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/scss/blocks/core/image.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************/
/**
 * Theme.json Set Color Variables
 */
/**
 * Theme.json Set Font Variables
 */
/**
 * Theme.json Set Spacing Variables
 */
/**
 * Theme.json Custom Variables
 */
/**
 * Misc.
 */
.wp-block-image {
  position: relative;
}
.wp-block-image img.size-full {
  width: 100%;
  max-width: unset;
}
.wp-block-image.is-style-rounded-medium {
  border-radius: var(--wp--custom--radius-medium);
  overflow: hidden;
}
.wp-block-image .wp-element-caption {
  position: absolute;
  inset: auto var(--wp--preset--spacing--small) var(--wp--preset--spacing--small) var(--wp--preset--spacing--small);
  display: inline-flex !important;
  align-items: center;
  gap: 0.3rem;
  z-index: 1;
  margin: 0;
  padding: var(--wp--preset--spacing--small);
  background-color: var(--wp--preset--color--base);
  font-size: var(--wp--preset--font-size--small);
  border-radius: calc(var(--wp--custom--radius-medium) / 2);
  line-height: 1;
  width: -moz-fit-content;
  width: fit-content;
}
.wp-block-image .wp-element-caption:before {
  width: 1.1em;
  height: 1.1em;
  content: url("data:image/svg+xml,<svg viewBox=\"0 0 13 13\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><g clip-path=\"url%28%23clip0_5151_1298%29\"><path d=\"M11.3487 10.6699C9.35568 13.4177 4.09298 13.4038 1.85806 11.0706C-0.376863 8.73731 -0.879853 5.61332 1.5997 3.27793C4.07925 0.942538 8.60252 0.279992 10.8374 2.61325C13.0724 4.9465 13.3614 7.8953 11.3487 10.6699Z\" fill=\"%23A37FCC\"/><path d=\"M7.40053 4.12764C7.5045 4.60151 6.91109 5.13905 6.38059 5.13905C5.85009 5.13905 5.4209 4.88437 5.4209 4.40078C5.4209 3.91719 5.85063 3.38937 6.38059 3.38937C6.91056 3.38937 7.2955 3.64891 7.40053 4.12764Z\" fill=\"white\"/><path d=\"M5.51153 5.80198C5.21936 5.80198 5.02475 6.73368 5.46301 6.73368H5.90074C5.90074 6.73368 5.94926 9.57301 5.90074 10.0163C5.85222 10.4595 7.16593 11.1696 7.21445 10.1937C7.26297 9.21773 7.50662 5.93466 6.92228 5.84621C6.33793 5.75775 5.511 5.80198 5.511 5.80198H5.51153Z\" fill=\"white\"/></g><defs><clipPath id=\"clip0_5151_1298\"><rect width=\"13\" height=\"13\" fill=\"white\" transform=\"translate%280 0.5%29\"/></clipPath></defs></svg>");
}
.wp-block-image svg * {
  transform-box: fill-box;
}

svg.replaced-svg {
  overflow: visible;
}

#red-kite-design-illustration-hunting {
  animation: up-down 1s infinite alternate-reverse ease-in-out;
}

#red-kite-design-404-message #red-kite, #red-kite-design-illustration-hunting #red-kite {
  animation: up-down 1s infinite alternate-reverse ease-in-out;
}
#red-kite-design-404-message #wing-front, #red-kite-design-404-message #wing-back, #red-kite-design-illustration-hunting #wing-front, #red-kite-design-illustration-hunting #wing-back {
  transform-origin: bottom left;
  animation: squish-vertical 1s infinite alternate-reverse ease-in-out;
}
#red-kite-design-404-message #tail, #red-kite-design-illustration-hunting #tail {
  transform-origin: top right;
  animation: squish-vertical 1s infinite alternate-reverse ease-in-out;
}
#red-kite-design-404-message #head, #red-kite-design-illustration-hunting #head {
  transform-origin: center right;
  animation: rotate-small 1s infinite alternate-reverse ease-in-out;
}
#red-kite-design-404-message #item, #red-kite-design-illustration-hunting #item {
  transform-origin: top center;
  animation: rotate-small 2s infinite alternate-reverse ease-in-out;
}
#red-kite-design-404-message #foot-front, #red-kite-design-404-message #foot-back, #red-kite-design-illustration-hunting #foot-front, #red-kite-design-illustration-hunting #foot-back {
  transform-origin: top center;
  animation: rotate-small 2s infinite alternate-reverse ease-in-out;
}

#red-kite-design-illustration-wing-span {
  animation: up-down 1s infinite alternate-reverse ease-in-out 0.5s;
}
#red-kite-design-illustration-wing-span #wing-left {
  transform-origin: top right;
  animation: flap-left 1s infinite alternate-reverse ease-in-out;
}
#red-kite-design-illustration-wing-span #wing-right {
  transform-origin: top left;
  animation: flap-right 1s infinite alternate-reverse ease-in-out;
}
#red-kite-design-illustration-wing-span #tail {
  transform-origin: top left;
  animation: squish-vertical-small 1s infinite alternate-reverse ease-in-out;
}
#red-kite-design-illustration-wing-span #item {
  transform-origin: top center;
  animation: rotate-small 2s infinite alternate-reverse ease-in-out;
}

#red-kite-design-illustration-flying {
  animation: up-down-reverse 1s infinite alternate-reverse ease-in-out;
}
#red-kite-design-illustration-flying #wing-top {
  transform-origin: bottom right;
  animation: squish-vertical-small 1s infinite alternate-reverse ease-in-out;
}
#red-kite-design-illustration-flying #wing-bottom {
  transform-origin: top left;
  animation: flap-right 1s infinite alternate-reverse ease-in-out, squish-vertical 1s infinite alternate-reverse ease-in-out;
}
#red-kite-design-illustration-flying #tail {
  transform-origin: top;
  animation: squish-vertical-small 1s infinite alternate-reverse ease-in-out;
}
#red-kite-design-illustration-flying #item {
  transform-origin: top right;
  animation: rotate-small 2s infinite alternate-reverse ease-in-out;
}
#red-kite-design-illustration-flying #squiggle-bottom {
  transform-origin: top;
  animation: up-down 1s infinite alternate-reverse ease-in-out, rotate-small 1s infinite alternate-reverse ease-in-out;
}

#red-kite-design-brand-solution-master-brand-large #background {
  animation: rotate-full infinite 60s linear;
  transform-origin: center;
}
#red-kite-design-brand-solution-master-brand-large #crown, #red-kite-design-brand-solution-master-brand-large #bullhorn, #red-kite-design-brand-solution-master-brand-large #browser {
  animation: up-down-small infinite alternate-reverse 1s ease-in-out;
  transform-origin: center;
}
#red-kite-design-brand-solution-master-brand-large #red-kite {
  animation: up-down infinite alternate-reverse 1s ease-in-out;
  transform-origin: center;
}
#red-kite-design-brand-solution-master-brand-large #wing-left {
  animation: flap-left infinite alternate-reverse 1s ease-in-out;
  transform-origin: top right;
}
#red-kite-design-brand-solution-master-brand-large #wing-right {
  animation: flap-right infinite alternate-reverse 1s ease-in-out;
  transform-origin: top left;
}
#red-kite-design-brand-solution-master-brand-large #tail {
  animation: squish-vertical-small infinite alternate-reverse 1s ease-in-out;
  transform-origin: top center;
}

@keyframes rotate-small {
  from {
    rotate: -5deg;
  }
  to {
    rotate: 5deg;
  }
}
@keyframes rotate-full {
  to {
    rotate: 360deg;
  }
}
@keyframes flap-left {
  from {
    rotate: -5deg;
  }
  to {
    rotate: 5deg;
  }
}
@keyframes flap-right {
  from {
    rotate: 5deg;
  }
  to {
    rotate: -5deg;
  }
}
@keyframes up-down {
  from {
    translate: 0 -5%;
  }
  to {
    translate: 0 5%;
  }
}
@keyframes up-down-small {
  from {
    translate: 0 0.25%;
  }
  to {
    translate: 0 -0.25%;
  }
}
@keyframes up-down-reverse {
  from {
    translate: 0 5%;
  }
  to {
    translate: 0 -5%;
  }
}
@keyframes squish-vertical {
  from {
    scale: 1 0.5;
  }
  to {
    scale: 1 1;
  }
}
@keyframes squish-vertical-small {
  from {
    scale: 1 0.8;
  }
  to {
    scale: 1 1;
  }
}

/*# sourceMappingURL=core--image.css.map*/