/*!*********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/scss/blocks/core/button.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************/
/**
 * Theme.json Set Color Variables
 */
/**
 * Theme.json Set Font Variables
 */
/**
 * Theme.json Set Spacing Variables
 */
/**
 * Theme.json Custom Variables
 */
/**
 * Misc.
 */
.wp-block-button__link svg {
  vertical-align: middle;
  fill: currentcolor;
}

.wp-block-button {
  transition: scale 0.25s var(--wp--custom--ease-bounce);
}
.wp-block-button .wp-block-button__link[target=_blank] {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5em;
}
.wp-block-button .wp-block-button__link[target=_blank]::after {
  content: "";
  -webkit-mask-image: url("data:image/svg+xml,<svg width=\"16\" height=\"16\" viewBox=\"0 0 16 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><g clip-path=\"url%28%23clip0_5232_33128%29\"><path d=\"M5.714 11.341C7.07496 12.7751 8.17118 9.83174 10.2734 7.73606C11.5553 6.45828 13.1574 4.86118 13.9611 3.55778C14.349 4.707 13.766 6.06998 14.4691 6.74153C16.2054 8.4003 15.3996 2.38138 14.5813 1.56559C13.7629 0.749789 10.0873 0.456604 8.64983 0.888804C8.97067 2.79999 11.0913 1.67063 12.695 2.27372C11.9851 3.2578 10.8355 4.95943 8.51772 7.26989C7.9814 7.80452 4.35251 9.90699 5.71347 11.341H5.714Z\" fill=\"%23EE255A\"/><path d=\"M15.1072 10.5181C14.9835 10.1679 14.5452 10.0263 14.2527 10.2568C13.5313 10.8254 14.8435 11.1797 12.8183 13.3046C11.2178 14.9843 5.2806 12.9435 2.76889 13.163C3.21608 10.8243 0.974363 5.42834 2.84596 3.46489C4.72646 1.49203 6.29136 2.92765 6.39621 1.67338C6.50107 0.419111 2.55866 0.70916 1.31461 2.01464C0.0747407 3.31595 0.470554 11.696 1.51015 14.2417C1.85721 16.2386 13.2262 15.9323 14.3492 14.7538C15.5219 13.5231 15.9403 12.8745 15.1067 10.5175L15.1072 10.5181Z\" fill=\"%23EE255A\"/></g><defs><clipPath id=\"clip0_5232_33128\"><rect width=\"15\" height=\"15\" fill=\"white\" transform=\"translate%280.543457 0.69043%29\"/></clipPath></defs></svg>");
          mask-image: url("data:image/svg+xml,<svg width=\"16\" height=\"16\" viewBox=\"0 0 16 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><g clip-path=\"url%28%23clip0_5232_33128%29\"><path d=\"M5.714 11.341C7.07496 12.7751 8.17118 9.83174 10.2734 7.73606C11.5553 6.45828 13.1574 4.86118 13.9611 3.55778C14.349 4.707 13.766 6.06998 14.4691 6.74153C16.2054 8.4003 15.3996 2.38138 14.5813 1.56559C13.7629 0.749789 10.0873 0.456604 8.64983 0.888804C8.97067 2.79999 11.0913 1.67063 12.695 2.27372C11.9851 3.2578 10.8355 4.95943 8.51772 7.26989C7.9814 7.80452 4.35251 9.90699 5.71347 11.341H5.714Z\" fill=\"%23EE255A\"/><path d=\"M15.1072 10.5181C14.9835 10.1679 14.5452 10.0263 14.2527 10.2568C13.5313 10.8254 14.8435 11.1797 12.8183 13.3046C11.2178 14.9843 5.2806 12.9435 2.76889 13.163C3.21608 10.8243 0.974363 5.42834 2.84596 3.46489C4.72646 1.49203 6.29136 2.92765 6.39621 1.67338C6.50107 0.419111 2.55866 0.70916 1.31461 2.01464C0.0747407 3.31595 0.470554 11.696 1.51015 14.2417C1.85721 16.2386 13.2262 15.9323 14.3492 14.7538C15.5219 13.5231 15.9403 12.8745 15.1067 10.5175L15.1072 10.5181Z\" fill=\"%23EE255A\"/></g><defs><clipPath id=\"clip0_5232_33128\"><rect width=\"15\" height=\"15\" fill=\"white\" transform=\"translate%280.543457 0.69043%29\"/></clipPath></defs></svg>");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: currentColor;
  width: 1em;
  height: 1em;
  display: flex;
}
.wp-block-button:hover {
  filter: brightness(1.05);
  scale: 1.025 1;
}

.wp-block-button.is-style-primary {
  transition: filter var(--wp--custom--ease-circ) 0.25s, scale var(--wp--custom--ease-bounce) 0.5s;
}
.wp-block-button.is-style-primary .wp-block-button__link {
  display: inline-flex;
  gap: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}
.wp-block-button.is-style-primary .wp-block-button__link::before {
  content: "";
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2217%22%20viewBox%3D%220%200%2018%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-right-small%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.9372%204.47005C10.3856%203.40561%208.96373%202.43024%208.98313%201.67786C9.06703%20-1.59608%2017.6602%206.85137%2017.6602%208.42688C17.6602%2010.0024%2011.5974%2015.0865%209.41969%2016.053C8.26137%2014.7095%2010.1385%2013.5055%2012.1534%2012.2131C13.5796%2011.2983%2015.0748%2010.3393%2015.6115%209.25518C15.2768%209.23202%2014.8599%209.18443%2014.3463%209.1258C12.7675%208.94557%2010.275%208.66104%206.44477%208.66104C6.24278%208.66104%205.88925%208.70421%205.45512%208.75723C3.79664%208.95976%200.961872%209.30595%200.906044%207.93743C0.857861%206.75629%202.22789%206.888%204.32034%207.08916C5.28692%207.18209%206.40766%207.28983%207.61397%207.28983C10.3459%207.28983%2013.8795%207.28984%2015.6684%207.79231C15.1661%206.68499%2013.4869%205.5331%2011.9372%204.47005Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2217%22%20viewBox%3D%220%200%2018%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-right-small%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.9372%204.47005C10.3856%203.40561%208.96373%202.43024%208.98313%201.67786C9.06703%20-1.59608%2017.6602%206.85137%2017.6602%208.42688C17.6602%2010.0024%2011.5974%2015.0865%209.41969%2016.053C8.26137%2014.7095%2010.1385%2013.5055%2012.1534%2012.2131C13.5796%2011.2983%2015.0748%2010.3393%2015.6115%209.25518C15.2768%209.23202%2014.8599%209.18443%2014.3463%209.1258C12.7675%208.94557%2010.275%208.66104%206.44477%208.66104C6.24278%208.66104%205.88925%208.70421%205.45512%208.75723C3.79664%208.95976%200.961872%209.30595%200.906044%207.93743C0.857861%206.75629%202.22789%206.888%204.32034%207.08916C5.28692%207.18209%206.40766%207.28983%207.61397%207.28983C10.3459%207.28983%2013.8795%207.28984%2015.6684%207.79231C15.1661%206.68499%2013.4869%205.5331%2011.9372%204.47005Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: currentColor;
  width: 1em;
  height: 1em;
  display: flex;
}
.wp-block-button.is-style-primary .wp-block-button__link::after {
  content: "";
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2217%22%20viewBox%3D%220%200%2018%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-right-small%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.9372%204.47005C10.3856%203.40561%208.96373%202.43024%208.98313%201.67786C9.06703%20-1.59608%2017.6602%206.85137%2017.6602%208.42688C17.6602%2010.0024%2011.5974%2015.0865%209.41969%2016.053C8.26137%2014.7095%2010.1385%2013.5055%2012.1534%2012.2131C13.5796%2011.2983%2015.0748%2010.3393%2015.6115%209.25518C15.2768%209.23202%2014.8599%209.18443%2014.3463%209.1258C12.7675%208.94557%2010.275%208.66104%206.44477%208.66104C6.24278%208.66104%205.88925%208.70421%205.45512%208.75723C3.79664%208.95976%200.961872%209.30595%200.906044%207.93743C0.857861%206.75629%202.22789%206.888%204.32034%207.08916C5.28692%207.18209%206.40766%207.28983%207.61397%207.28983C10.3459%207.28983%2013.8795%207.28984%2015.6684%207.79231C15.1661%206.68499%2013.4869%205.5331%2011.9372%204.47005Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2217%22%20viewBox%3D%220%200%2018%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-right-small%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.9372%204.47005C10.3856%203.40561%208.96373%202.43024%208.98313%201.67786C9.06703%20-1.59608%2017.6602%206.85137%2017.6602%208.42688C17.6602%2010.0024%2011.5974%2015.0865%209.41969%2016.053C8.26137%2014.7095%2010.1385%2013.5055%2012.1534%2012.2131C13.5796%2011.2983%2015.0748%2010.3393%2015.6115%209.25518C15.2768%209.23202%2014.8599%209.18443%2014.3463%209.1258C12.7675%208.94557%2010.275%208.66104%206.44477%208.66104C6.24278%208.66104%205.88925%208.70421%205.45512%208.75723C3.79664%208.95976%200.961872%209.30595%200.906044%207.93743C0.857861%206.75629%202.22789%206.888%204.32034%207.08916C5.28692%207.18209%206.40766%207.28983%207.61397%207.28983C10.3459%207.28983%2013.8795%207.28984%2015.6684%207.79231C15.1661%206.68499%2013.4869%205.5331%2011.9372%204.47005Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: currentColor;
  width: 1em;
  height: 1em;
  display: flex;
}
.wp-block-button.is-style-primary .wp-block-button__link::after {
  width: 0;
  translate: -1em 0;
}
.wp-block-button.is-style-primary .wp-block-button__link::before, .wp-block-button.is-style-primary .wp-block-button__link::after {
  transition: width var(--wp--custom--ease-circ) 0.1s, scale var(--wp--custom--ease-bounce) 0.75s, translate var(--wp--custom--ease-bounce) 0.5s;
}
.wp-block-button.is-style-primary:hover {
  filter: brightness(1.05);
  scale: 1.025 1;
}
.wp-block-button.is-style-primary:hover > *::before {
  width: 0;
  translate: 1em 0;
}
.wp-block-button.is-style-primary:hover > *::after {
  width: 1em;
  translate: 0 0;
}

.wp-block-button.is-style-secondary .wp-block-button__link {
  padding: var(--wp--preset--spacing--small) 0;
  border-radius: unset;
  background-color: var(--wp--preset--color--transparent);
  color: currentColor;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}
.wp-block-button.is-style-secondary .wp-block-button__link::after {
  content: "";
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2217%22%20viewBox%3D%220%200%2018%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-right-small%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.9372%204.47005C10.3856%203.40561%208.96373%202.43024%208.98313%201.67786C9.06703%20-1.59608%2017.6602%206.85137%2017.6602%208.42688C17.6602%2010.0024%2011.5974%2015.0865%209.41969%2016.053C8.26137%2014.7095%2010.1385%2013.5055%2012.1534%2012.2131C13.5796%2011.2983%2015.0748%2010.3393%2015.6115%209.25518C15.2768%209.23202%2014.8599%209.18443%2014.3463%209.1258C12.7675%208.94557%2010.275%208.66104%206.44477%208.66104C6.24278%208.66104%205.88925%208.70421%205.45512%208.75723C3.79664%208.95976%200.961872%209.30595%200.906044%207.93743C0.857861%206.75629%202.22789%206.888%204.32034%207.08916C5.28692%207.18209%206.40766%207.28983%207.61397%207.28983C10.3459%207.28983%2013.8795%207.28984%2015.6684%207.79231C15.1661%206.68499%2013.4869%205.5331%2011.9372%204.47005Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2217%22%20viewBox%3D%220%200%2018%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-right-small%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.9372%204.47005C10.3856%203.40561%208.96373%202.43024%208.98313%201.67786C9.06703%20-1.59608%2017.6602%206.85137%2017.6602%208.42688C17.6602%2010.0024%2011.5974%2015.0865%209.41969%2016.053C8.26137%2014.7095%2010.1385%2013.5055%2012.1534%2012.2131C13.5796%2011.2983%2015.0748%2010.3393%2015.6115%209.25518C15.2768%209.23202%2014.8599%209.18443%2014.3463%209.1258C12.7675%208.94557%2010.275%208.66104%206.44477%208.66104C6.24278%208.66104%205.88925%208.70421%205.45512%208.75723C3.79664%208.95976%200.961872%209.30595%200.906044%207.93743C0.857861%206.75629%202.22789%206.888%204.32034%207.08916C5.28692%207.18209%206.40766%207.28983%207.61397%207.28983C10.3459%207.28983%2013.8795%207.28984%2015.6684%207.79231C15.1661%206.68499%2013.4869%205.5331%2011.9372%204.47005Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: currentColor;
  width: 1em;
  height: 1em;
  display: flex;
}
.wp-block-button.is-style-secondary .wp-block-button__link:hover::after {
  animation: arrow-bounce 1s var(--wp--custom--ease-circ);
}
@keyframes arrow-bounce {
  0%, 100% {
    translate: 0 0;
  }
  30% {
    translate: 0.5em 0;
  }
}
.wp-block-button.is-style-secondary .wp-block-button__link[target=_blank] {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5em;
}
.wp-block-button.is-style-secondary .wp-block-button__link[target=_blank]::after {
  content: "";
  -webkit-mask-image: url("data:image/svg+xml,<svg width=\"16\" height=\"16\" viewBox=\"0 0 16 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><g clip-path=\"url%28%23clip0_5232_33128%29\"><path d=\"M5.714 11.341C7.07496 12.7751 8.17118 9.83174 10.2734 7.73606C11.5553 6.45828 13.1574 4.86118 13.9611 3.55778C14.349 4.707 13.766 6.06998 14.4691 6.74153C16.2054 8.4003 15.3996 2.38138 14.5813 1.56559C13.7629 0.749789 10.0873 0.456604 8.64983 0.888804C8.97067 2.79999 11.0913 1.67063 12.695 2.27372C11.9851 3.2578 10.8355 4.95943 8.51772 7.26989C7.9814 7.80452 4.35251 9.90699 5.71347 11.341H5.714Z\" fill=\"%23EE255A\"/><path d=\"M15.1072 10.5181C14.9835 10.1679 14.5452 10.0263 14.2527 10.2568C13.5313 10.8254 14.8435 11.1797 12.8183 13.3046C11.2178 14.9843 5.2806 12.9435 2.76889 13.163C3.21608 10.8243 0.974363 5.42834 2.84596 3.46489C4.72646 1.49203 6.29136 2.92765 6.39621 1.67338C6.50107 0.419111 2.55866 0.70916 1.31461 2.01464C0.0747407 3.31595 0.470554 11.696 1.51015 14.2417C1.85721 16.2386 13.2262 15.9323 14.3492 14.7538C15.5219 13.5231 15.9403 12.8745 15.1067 10.5175L15.1072 10.5181Z\" fill=\"%23EE255A\"/></g><defs><clipPath id=\"clip0_5232_33128\"><rect width=\"15\" height=\"15\" fill=\"white\" transform=\"translate%280.543457 0.69043%29\"/></clipPath></defs></svg>");
          mask-image: url("data:image/svg+xml,<svg width=\"16\" height=\"16\" viewBox=\"0 0 16 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><g clip-path=\"url%28%23clip0_5232_33128%29\"><path d=\"M5.714 11.341C7.07496 12.7751 8.17118 9.83174 10.2734 7.73606C11.5553 6.45828 13.1574 4.86118 13.9611 3.55778C14.349 4.707 13.766 6.06998 14.4691 6.74153C16.2054 8.4003 15.3996 2.38138 14.5813 1.56559C13.7629 0.749789 10.0873 0.456604 8.64983 0.888804C8.97067 2.79999 11.0913 1.67063 12.695 2.27372C11.9851 3.2578 10.8355 4.95943 8.51772 7.26989C7.9814 7.80452 4.35251 9.90699 5.71347 11.341H5.714Z\" fill=\"%23EE255A\"/><path d=\"M15.1072 10.5181C14.9835 10.1679 14.5452 10.0263 14.2527 10.2568C13.5313 10.8254 14.8435 11.1797 12.8183 13.3046C11.2178 14.9843 5.2806 12.9435 2.76889 13.163C3.21608 10.8243 0.974363 5.42834 2.84596 3.46489C4.72646 1.49203 6.29136 2.92765 6.39621 1.67338C6.50107 0.419111 2.55866 0.70916 1.31461 2.01464C0.0747407 3.31595 0.470554 11.696 1.51015 14.2417C1.85721 16.2386 13.2262 15.9323 14.3492 14.7538C15.5219 13.5231 15.9403 12.8745 15.1067 10.5175L15.1072 10.5181Z\" fill=\"%23EE255A\"/></g><defs><clipPath id=\"clip0_5232_33128\"><rect width=\"15\" height=\"15\" fill=\"white\" transform=\"translate%280.543457 0.69043%29\"/></clipPath></defs></svg>");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: currentColor;
  width: 1em;
  height: 1em;
  display: flex;
}

.wp-block-button.is-style-tertiary .wp-block-button__link {
  padding: var(--wp--preset--spacing--small) 0;
  border-radius: unset;
  background-color: var(--wp--preset--color--transparent);
  color: currentColor;
  position: relative;
  display: flex;
  align-items: center;
}
.wp-block-button.is-style-tertiary .wp-block-button__link::after {
  content: "";
  -webkit-mask-image: url("data:image/svg+xml,<svg width=\"60\" height=\"4\" viewBox=\"0 0 60 4\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M0.00464317 2.22845C0.270295 -0.0105155 17.2205 1.29019 20.8923 1.29019C52.6013 1.29019 60 -0.487744 60 1.29019C60 3.06812 39.699 3.06815 25.3016 3.06815C10.9043 3.06815 -0.261009 4.46742 0.00464317 2.22845Z\" fill=\"%23B593D4\"/></svg>");
          mask-image: url("data:image/svg+xml,<svg width=\"60\" height=\"4\" viewBox=\"0 0 60 4\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M0.00464317 2.22845C0.270295 -0.0105155 17.2205 1.29019 20.8923 1.29019C52.6013 1.29019 60 -0.487744 60 1.29019C60 3.06812 39.699 3.06815 25.3016 3.06815C10.9043 3.06815 -0.261009 4.46742 0.00464317 2.22845Z\" fill=\"%23B593D4\"/></svg>");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: 100%;
          mask-size: 100%;
  margin-right: calc(var(--wp--preset--spacing--small) / 2);
  background-color: currentColor;
  max-width: 10%;
  min-width: 60px;
  height: 10px;
}
.wp-block-button.is-style-tertiary .wp-block-button__link:after {
  position: absolute;
  inset: auto 0 0 0;
  width: 100%;
  height: 0.2em;
  margin: 0;
  min-width: 100%;
  max-width: 100%;
  transition: scale 0.25s ease-in-out;
  transform-origin: left center;
  scale: 1 1;
}
.wp-block-button.is-style-tertiary .wp-block-button__link:hover:after {
  animation: underline-animation-in 0.4s ease-in-out both;
  scale: 1 1;
}
@keyframes underline-animation-in {
  0% {
    transform-origin: center left;
    scale: 1 1;
  }
  55% {
    transform-origin: center left;
    scale: 0 1;
  }
  56% {
    transform-origin: center right;
  }
  100% {
    transform-origin: center right;
    scale: 1 1;
  }
}

.wp-block-button .wp-block-button__link.is-button-open-in-modal {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}
.wp-block-button .wp-block-button__link.is-button-open-in-modal::before {
  content: "";
  -webkit-mask-image: url("data:image/svg+xml,<svg width=\"36\" height=\"36\" viewBox=\"0 0 36 36\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><g clip-path=\"url%28%23clip0_4806_39960%29\"><path d=\"M0.984054 20.5442C0.120646 16.0285 2.14837 11.1062 5.63263 7.26611C9.11673 3.42614 13.9154 0.828125 18.3474 0.828125C22.9217 0.828125 26.9991 2.09151 29.9175 4.48582C32.818 6.86542 34.6327 10.4078 34.6327 15.116C34.6327 19.8563 32.7908 24.8472 29.8036 28.647C26.8145 32.4493 22.753 34.9729 18.3474 34.9729C13.7856 34.9729 9.90247 33.692 6.94201 31.2777C3.98302 28.8646 1.88799 25.2722 0.984056 20.5442L0.247576 20.685L0.984054 20.5442Z\" stroke=\"%23A37FCC\" stroke-width=\"1.5\"/><path d=\"M12.5362 24.427C12.369 20.2496 10.7813 9.8039 13.9566 10.7224C17.1318 11.641 25.9899 15.3165 25.9899 17.9929C25.9899 19.4969 12.6609 27.545 12.5362 24.427Z\" fill=\"%23A37FCC\"/></g><defs><clipPath id=\"clip0_4806_39960\"><rect width=\"35.3459\" height=\"35.6448\" fill=\"white\" transform=\"translate%280.0371094 0.0776367%29\"/></clipPath></defs></svg>");
          mask-image: url("data:image/svg+xml,<svg width=\"36\" height=\"36\" viewBox=\"0 0 36 36\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><g clip-path=\"url%28%23clip0_4806_39960%29\"><path d=\"M0.984054 20.5442C0.120646 16.0285 2.14837 11.1062 5.63263 7.26611C9.11673 3.42614 13.9154 0.828125 18.3474 0.828125C22.9217 0.828125 26.9991 2.09151 29.9175 4.48582C32.818 6.86542 34.6327 10.4078 34.6327 15.116C34.6327 19.8563 32.7908 24.8472 29.8036 28.647C26.8145 32.4493 22.753 34.9729 18.3474 34.9729C13.7856 34.9729 9.90247 33.692 6.94201 31.2777C3.98302 28.8646 1.88799 25.2722 0.984056 20.5442L0.247576 20.685L0.984054 20.5442Z\" stroke=\"%23A37FCC\" stroke-width=\"1.5\"/><path d=\"M12.5362 24.427C12.369 20.2496 10.7813 9.8039 13.9566 10.7224C17.1318 11.641 25.9899 15.3165 25.9899 17.9929C25.9899 19.4969 12.6609 27.545 12.5362 24.427Z\" fill=\"%23A37FCC\"/></g><defs><clipPath id=\"clip0_4806_39960\"><rect width=\"35.3459\" height=\"35.6448\" fill=\"white\" transform=\"translate%280.0371094 0.0776367%29\"/></clipPath></defs></svg>");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: currentColor;
  width: 1.4em;
  height: 1.4em;
  display: flex;
}
