/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/@wordpress/scripts/node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/scss/global.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
/**
 * Theme.json widths
 */
/**
 * Theme.json Set Color Variables
 */
/**
 * Theme.json Set Font Variables
 */
/**
 * Theme.json Set Spacing Variables
 */
/**
 * Theme.json Custom Variables
 */
/**
 * Wordpress misc Variables
 */
/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

::-moz-selection {
  background: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--base);
}

::selection {
  background: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--base);
}

ul,
ol {
  padding: 0 0 0 var(--wp--preset--spacing--small);
}

.visually-hidden:not(:focus):not(:active):not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.always-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--wp--preset--color--primary);
  border-radius: 0px;
  border-color: var(--wp--preset--color--background);
  border-style: solid;
  border-width: 2px;
  color: var(--wp--preset--color--background);
  padding-top: var(--wp--preset--spacing--20);
  padding-right: var(--wp--preset--spacing--50);
  padding-bottom: var(--wp--preset--spacing--20);
  padding-left: var(--wp--preset--spacing--50);
  text-decoration: none;
}

html {
  interpolate-size: allow-keywords;
  scroll-behavior: smooth;
}

.wp-site-blocks {
  overflow-x: clip;
}

.wp-site-blocks > header {
  width: 100%;
  top: 0;
  transition: translate 0.5s;
}
.wp-site-blocks > header nav {
  pointer-events: all;
}
.wp-site-blocks > header::after {
  transition-property: display opacity;
  transition-duration: 1s;
  transition-delay: 0.1s;
  transition-behavior: allow-discrete;
  display: none;
  opacity: 0;
  content: "overlay";
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.3137254902);
  scale: 1.5;
  -webkit-backdrop-filter: blur(1em);
          backdrop-filter: blur(1em);
}
.wp-site-blocks > header:has([aria-expanded=true])::after {
  display: block;
  opacity: 1;
}
.wp-site-blocks > header.hidden {
  translate: 0 -100%;
}
.wp-site-blocks > header.hidden::after {
  display: none;
  transition-delay: 0;
  opacity: 0;
}

body.admin-bar .wp-site-blocks > header {
  top: 32px;
}

.site-footer {
  margin-block-start: 0;
}

footer, .is-pattern-footer {
  margin-top: 0;
}
footer > .wp-block-group > .wp-block-group, .is-pattern-footer > .wp-block-group > .wp-block-group {
  flex-wrap: wrap;
  gap: var(--wp--preset--spacing--x-large);
}
footer a, .is-pattern-footer a {
  text-decoration: none;
}
footer a:hover, .is-pattern-footer a:hover {
  color: var(--wp--preset--color--primary) !important;
}
footer .wp-block-image, .is-pattern-footer .wp-block-image {
  display: flex;
  flex: 1 1 250px;
  max-width: 500px;
}
@media (min-width: 781px) {
  footer .wp-block-image, .is-pattern-footer .wp-block-image {
    margin: auto;
  }
}
footer .is-pattern-footer-links, .is-pattern-footer .is-pattern-footer-links {
  gap: var(--wp--preset--spacing--xx-large);
  flex: 1 0 1;
  flex-wrap: wrap;
}
@media (min-width: 781px) {
  footer .is-pattern-footer-links, .is-pattern-footer .is-pattern-footer-links {
    flex-basis: 100%;
    flex-wrap: wrap;
  }
}
footer .is-pattern-footer-links nav, .is-pattern-footer .is-pattern-footer-links nav {
  min-width: 120px;
}
@media (min-width: 781px) {
  footer .is-pattern-footer-links nav, .is-pattern-footer .is-pattern-footer-links nav {
    flex: 1 0 100%;
  }
  footer .is-pattern-footer-links nav p, .is-pattern-footer .is-pattern-footer-links nav p {
    text-align: center;
  }
  footer .is-pattern-footer-links nav .wp-block-navigation__container, .is-pattern-footer .is-pattern-footer-links nav .wp-block-navigation__container {
    align-items: center;
  }
}

/* Footer mobile style */
.wp-block-template-part:has(.is-template-quick-actions) {
  z-index: 100;
  position: fixed;
  inset: auto 0 0 0;
  padding: var(--wp--preset--spacing--medium);
}
.wp-block-template-part:has(.is-template-quick-actions) > .is-template-quick-actions {
  padding: var(--wp--preset--spacing--small) var(--wp--preset--spacing--small) var(--wp--preset--spacing--small) var(--wp--preset--spacing--medium);
  border-radius: 50px;
  font-size: calc(var(--wp--preset--font-size--small) * 0.8);
  width: -moz-fit-content;
  width: fit-content;
  max-width: var(--wp--style--global--content-size);
  margin: auto;
  overflow: hidden;
  transition: width 0.5s linear(0, 0.324 9.1%, 0.584 18.6%, 0.782 28.6%, 0.858 33.8%, 0.92 39.2%, 0.997 49.5%, 1.021 55.1%, 1.033 61%, 1.035 71.7%, 1);
  animation: slide-up 0.6s linear(0, 0.49 7.4%, 0.864 15.3%, 1.005 19.4%, 1.12 23.7%, 1.206 28.1%, 1.267 32.8%, 1.296 36.4%, 1.311 40.2%, 1.313 44.2%, 1.301 48.6%, 1.252 56.9%, 1.105 74.4%, 1.048 82.5%, 1.011 91.1%, 1), expand 0.5s 0.5s both linear(0, 0.324 9.1%, 0.584 18.6%, 0.782 28.6%, 0.858 33.8%, 0.92 39.2%, 0.997 49.5%, 1.021 55.1%, 1.033 61%, 1.035 71.7%, 1);
}
.wp-block-template-part:has(.is-template-quick-actions) > .is-template-quick-actions > * {
  animation: fade 0.5s var(--wp--custom--ease-circ) 0.75s both;
  min-width: -moz-max-content;
  min-width: max-content;
}
.wp-block-template-part:has(.is-template-quick-actions) .wp-block-buttons {
  gap: calc(var(--wp--preset--spacing--small) * 0.5);
}
.wp-block-template-part:has(.is-template-quick-actions) .wp-block-button {
  box-sizing: border-box;
}
.wp-block-template-part:has(.is-template-quick-actions) .wp-block-button:last-child .wp-block-button__link {
  background-color: var(--wp--preset--color--primary);
  border-color: var(--wp--preset--color--primary);
}
.wp-block-template-part:has(.is-template-quick-actions) .wp-block-button__link {
  border-radius: 30px;
  padding: calc(var(--wp--preset--spacing--small) * 0.25) var(--wp--preset--spacing--small);
  background-color: var(--wp--preset--color--transparent);
  border: solid currentColor 1px;
}
.wp-block-template-part:has(.is-template-quick-actions) .quick-actions_close .wp-block-button__link {
  padding: calc(var(--wp--preset--spacing--small) * 0.25);
  min-width: 30px;
  background-color: var(--wp--preset--color--base) !important;
  border-color: var(--wp--preset--color--base) !important;
  color: var(--wp--preset--color--contrast);
  font-family: var(--wp--preset--font-family--icon);
  rotate: 45deg;
  transition: rotate 0.25s ease-in-out;
}
.wp-block-template-part:has(.is-template-quick-actions).hidden .wp-block-buttons:first-of-type {
  width: 0;
}
.wp-block-template-part:has(.is-template-quick-actions).hidden .wp-block-buttons:first-of-type:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.wp-block-template-part:has(.is-template-quick-actions).hidden .quick-actions_close .wp-block-button__link {
  rotate: 0deg;
}

@keyframes slide-up {
  from {
    translate: 0 150%;
  }
}
@keyframes expand {
  from {
    width: 50px;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
}

/*# sourceMappingURL=global.css.map*/