/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/scss/blocks/gravityforms/form.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
/**
 * Theme.json Set Color Variables
 */
/**
 * Theme.json Set Font Variables
 */
/**
 * Theme.json Set Spacing Variables
 */
/**
 * Theme.json Custom Variables
 */
/**
 * Misc.
 */
body .gform-theme--framework {
  --gf-color-primary: var(--wp--preset--color--primary) !important;
  --gf-form-gap-y: var(--wp--preset--spacing--small) !important;
  --gf-ctrl-label-font-size-primary: var(
  	--wp--preset--font-size--medium
  ) !important;
  --gf-ctrl-label-font-size-secondary: var(
  	--wp--preset--font-size--small
  ) !important;
  --gf-ctrl-label-font-size-req: inherit;
  --gf-ctrl-choice-check-color: var(--wp--preset--color--primary) !important;
  --gf-color-in-ctrl-primary: var(--wp--preset--color--primary) !important;
  --gf-color-in-ctrl-primary: var(--wp--preset--color--primary) !important;
  --gf-color-in-ctrl-contrast-rgb: var(--wp--preset--color--base) !important;
  --gf-ctrl-file-zone-padding-x: var(--wp--preset--spacing--small) !important;
  --gf-ctrl-file-zone-padding-y: var(--wp--preset--spacing--small) !important;
  --gf-field-pg-steps-number-color: var(--wp--preset--color--base);
  --gf-color-out-ctrl-light: var(--wp--preset--color--base) !important;
  --gf-color-out-ctrl-light-darker: var(--wp--preset--color--base) !important;
  --gf-color-out-ctrl-dark: var(--wp--preset--color--base) !important;
  --gf-field-pg-prog-text-transform: none;
  --gf-ctrl-bg-color: $transparent;
  --gf-ctrl-bg-color-focus: $transparent;
  --gf-ctrl-bg-border-color-focus: var(--wp--preset--color--secondary);
  --gf-ctrl-border-radius: 0;
  --gf-ctrl-border-width: 2px;
  --gf-ctrl-shadow: unset;
  --gf-ctrl-btn-color-primary: var(--wp--preset--color--base);
  --gf-ctrl-btn-radius: var(--wp--preset--custom--radius-medium);
  --gf-ctrl-btn-font-weight: 100;
  --gf-ctrl-btn-font-size: var(--wp--preset--font-size--small);
  --gf-ctrl-btn-bg-color-hover-primary: var(--wp--preset--color--primary);
  --gf-ctrl-desc-font-size-error: var(--wp--preset--font-size--small);
}
body .gform-theme--framework ::-moz-placeholder {
  color: var(--wp--preset--color--secondary);
  font-weight: normal;
}
body .gform-theme--framework ::placeholder {
  color: var(--wp--preset--color--secondary);
  font-weight: normal;
}
body .gform-theme--framework .gform-field-label--type-sub {
  color: var(--wp--preset--color--secondary);
}
body .gform-theme--framework .gform-field-label--type-sub:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

body .gform_wrapper .gform_body .gform_fields .gfield input[type=text],
body .gform_wrapper .gform_body .gform_fields .gfield select,
body .gform_wrapper .gform_body .gform_fields .gfield textarea,
body .gform_wrapper .gform_body .gform_fields .gfield input[type=email],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=tel] {
  box-shadow: unset;
  font-size: var(--wp--preset--font-size--medium);
  font-weight: bold;
}

body .gform_wrapper .gform_body .gform_fields .ginput_container_consent {
  align-items: center;
}

.gform_required_legend {
  display: none;
  visibility: hidden;
}

.gform-theme--framework .gform_validation_errors {
  display: none;
}

body .gform_wrapper #field_submit, body .gform_wrapper .gform_footer #field_submit {
  flex-wrap: nowrap;
  background-color: var(--wp--preset--color--primary);
  border-radius: var(--wp--custom--radius-small);
  padding: 0 var(--wp--preset--spacing--small);
  color: var(--wp--preset--color--base);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}
body .gform_wrapper #field_submit::before, body .gform_wrapper .gform_footer #field_submit::before {
  content: "";
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2217%22%20viewBox%3D%220%200%2018%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-right-small%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.9372%204.47005C10.3856%203.40561%208.96373%202.43024%208.98313%201.67786C9.06703%20-1.59608%2017.6602%206.85137%2017.6602%208.42688C17.6602%2010.0024%2011.5974%2015.0865%209.41969%2016.053C8.26137%2014.7095%2010.1385%2013.5055%2012.1534%2012.2131C13.5796%2011.2983%2015.0748%2010.3393%2015.6115%209.25518C15.2768%209.23202%2014.8599%209.18443%2014.3463%209.1258C12.7675%208.94557%2010.275%208.66104%206.44477%208.66104C6.24278%208.66104%205.88925%208.70421%205.45512%208.75723C3.79664%208.95976%200.961872%209.30595%200.906044%207.93743C0.857861%206.75629%202.22789%206.888%204.32034%207.08916C5.28692%207.18209%206.40766%207.28983%207.61397%207.28983C10.3459%207.28983%2013.8795%207.28984%2015.6684%207.79231C15.1661%206.68499%2013.4869%205.5331%2011.9372%204.47005Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2217%22%20viewBox%3D%220%200%2018%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-right-small%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.9372%204.47005C10.3856%203.40561%208.96373%202.43024%208.98313%201.67786C9.06703%20-1.59608%2017.6602%206.85137%2017.6602%208.42688C17.6602%2010.0024%2011.5974%2015.0865%209.41969%2016.053C8.26137%2014.7095%2010.1385%2013.5055%2012.1534%2012.2131C13.5796%2011.2983%2015.0748%2010.3393%2015.6115%209.25518C15.2768%209.23202%2014.8599%209.18443%2014.3463%209.1258C12.7675%208.94557%2010.275%208.66104%206.44477%208.66104C6.24278%208.66104%205.88925%208.70421%205.45512%208.75723C3.79664%208.95976%200.961872%209.30595%200.906044%207.93743C0.857861%206.75629%202.22789%206.888%204.32034%207.08916C5.28692%207.18209%206.40766%207.28983%207.61397%207.28983C10.3459%207.28983%2013.8795%207.28984%2015.6684%207.79231C15.1661%206.68499%2013.4869%205.5331%2011.9372%204.47005Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: currentColor;
  width: 1em;
  height: 1em;
  display: flex;
}
body .gform_wrapper #field_submit::after, body .gform_wrapper .gform_footer #field_submit::after {
  content: "";
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2217%22%20viewBox%3D%220%200%2018%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-right-small%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.9372%204.47005C10.3856%203.40561%208.96373%202.43024%208.98313%201.67786C9.06703%20-1.59608%2017.6602%206.85137%2017.6602%208.42688C17.6602%2010.0024%2011.5974%2015.0865%209.41969%2016.053C8.26137%2014.7095%2010.1385%2013.5055%2012.1534%2012.2131C13.5796%2011.2983%2015.0748%2010.3393%2015.6115%209.25518C15.2768%209.23202%2014.8599%209.18443%2014.3463%209.1258C12.7675%208.94557%2010.275%208.66104%206.44477%208.66104C6.24278%208.66104%205.88925%208.70421%205.45512%208.75723C3.79664%208.95976%200.961872%209.30595%200.906044%207.93743C0.857861%206.75629%202.22789%206.888%204.32034%207.08916C5.28692%207.18209%206.40766%207.28983%207.61397%207.28983C10.3459%207.28983%2013.8795%207.28984%2015.6684%207.79231C15.1661%206.68499%2013.4869%205.5331%2011.9372%204.47005Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2217%22%20viewBox%3D%220%200%2018%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-right-small%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.9372%204.47005C10.3856%203.40561%208.96373%202.43024%208.98313%201.67786C9.06703%20-1.59608%2017.6602%206.85137%2017.6602%208.42688C17.6602%2010.0024%2011.5974%2015.0865%209.41969%2016.053C8.26137%2014.7095%2010.1385%2013.5055%2012.1534%2012.2131C13.5796%2011.2983%2015.0748%2010.3393%2015.6115%209.25518C15.2768%209.23202%2014.8599%209.18443%2014.3463%209.1258C12.7675%208.94557%2010.275%208.66104%206.44477%208.66104C6.24278%208.66104%205.88925%208.70421%205.45512%208.75723C3.79664%208.95976%200.961872%209.30595%200.906044%207.93743C0.857861%206.75629%202.22789%206.888%204.32034%207.08916C5.28692%207.18209%206.40766%207.28983%207.61397%207.28983C10.3459%207.28983%2013.8795%207.28984%2015.6684%207.79231C15.1661%206.68499%2013.4869%205.5331%2011.9372%204.47005Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: currentColor;
  width: 1em;
  height: 1em;
  display: flex;
}
body .gform_wrapper #field_submit::after, body .gform_wrapper .gform_footer #field_submit::after {
  width: 0;
  translate: -1em 0;
}
body .gform_wrapper #field_submit::before, body .gform_wrapper #field_submit::after, body .gform_wrapper .gform_footer #field_submit::before, body .gform_wrapper .gform_footer #field_submit::after {
  transition: width var(--wp--custom--ease-circ) 0.1s, scale var(--wp--custom--ease-bounce) 0.75s, translate var(--wp--custom--ease-bounce) 0.5s;
}
body .gform_wrapper #field_submit:hover, body .gform_wrapper .gform_footer #field_submit:hover {
  filter: brightness(1.05);
  scale: 1.025 1;
}
body .gform_wrapper #field_submit:hover::before, body .gform_wrapper .gform_footer #field_submit:hover::before {
  width: 0;
  translate: 1em 0;
}
body .gform_wrapper #field_submit:hover::after, body .gform_wrapper .gform_footer #field_submit:hover::after {
  width: 1em;
  translate: 0 0;
}

body .gform_wrapper .gform_footer input[type=submit], body .gform_wrapper input[type=submit] {
  padding: 0 !important;
}
