/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@use "src/scss/utils" as *;

// .wp-block-mellobase-ldtr-events {

// }

.ldtr-events--grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: $spacing-medium;
}

.ldtr-events--list {
	display: flex;
	flex-direction: column;
	gap: $spacing-medium;
}

.ldtr-event-card,
.ldtr-event-slide {
	background: $color-base;
	border: solid 2px $color-tertiary-3;
	padding: $spacing-medium;

	&__title{
		font-size: $font-size-large;
	}

	&__buttons{
		display: flex;
		gap: .5em;
	}

	.ldtr-event-card__category{
		border: solid 1px $color-tertiary-3;
		padding: .25em .5em;
		font-size: calc($font-size-small * .75);
		font-weight: bold;
	}
}