/*!*****************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/swiper/style.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************/
@import url(https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css);
/*!*********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/swiper/style.scss (1) ***!
  \*********************************************************************************************************************************************************************************************************************************************************/
/**
 * Theme.json Set Color Variables
 */
/**
 * Theme.json Set Font Variables
 */
/**
 * Theme.json Set Spacing Variables
 */
/**
 * Theme.json Custom Variables
 */
/**
 * Misc.
 */
.wp-block-mellobase-swiper {
  --swiper-navigation-size: $font-size-large;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--wp--preset--color--primary);
  --swiper-pagination-color: var(--wp--preset--color--primary);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: var(--wp--preset--color--tertiary);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: var(--wp--preset--color--tertiary);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 0;
  --swiper-pagination-bullet-vertical-gap: 0;
}
.wp-block-mellobase-swiper.swiper.is-style-ticker-left .swiper-wrapper, .wp-block-mellobase-swiper.swiper.is-style-ticker-right .swiper-wrapper {
  transition-timing-function: linear;
}
.wp-block-mellobase-swiper.swiper.is-style-ticker-left .swiper-slide, .wp-block-mellobase-swiper.swiper.is-style-ticker-right .swiper-slide {
  flex-shrink: 1;
  min-width: -moz-max-content;
  min-width: max-content;
}
.wp-block-mellobase-swiper .swiper-button-next, .wp-block-mellobase-swiper .swiper-button-prev {
  margin-block-start: unset;
  position: unset;
  inset: 0;
  color: var(--wp--preset--color--base);
  padding: var(--wp--preset--spacing--small) var(--wp--preset--spacing--medium);
  background-color: var(--wp--preset--color--primary);
  border-radius: var(--wp--custom--radius-small);
}
.wp-block-mellobase-swiper .swiper-button-next a, .wp-block-mellobase-swiper .swiper-button-next .wp-block-button__link, .wp-block-mellobase-swiper .swiper-button-prev a, .wp-block-mellobase-swiper .swiper-button-prev .wp-block-button__link {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.wp-block-mellobase-swiper .swiper-button-next {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}
.wp-block-mellobase-swiper .swiper-button-next::after {
  content: "";
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2217%22%20viewBox%3D%220%200%2018%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-right-small%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.9372%204.47005C10.3856%203.40561%208.96373%202.43024%208.98313%201.67786C9.06703%20-1.59608%2017.6602%206.85137%2017.6602%208.42688C17.6602%2010.0024%2011.5974%2015.0865%209.41969%2016.053C8.26137%2014.7095%2010.1385%2013.5055%2012.1534%2012.2131C13.5796%2011.2983%2015.0748%2010.3393%2015.6115%209.25518C15.2768%209.23202%2014.8599%209.18443%2014.3463%209.1258C12.7675%208.94557%2010.275%208.66104%206.44477%208.66104C6.24278%208.66104%205.88925%208.70421%205.45512%208.75723C3.79664%208.95976%200.961872%209.30595%200.906044%207.93743C0.857861%206.75629%202.22789%206.888%204.32034%207.08916C5.28692%207.18209%206.40766%207.28983%207.61397%207.28983C10.3459%207.28983%2013.8795%207.28984%2015.6684%207.79231C15.1661%206.68499%2013.4869%205.5331%2011.9372%204.47005Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2217%22%20viewBox%3D%220%200%2018%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-right-small%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.9372%204.47005C10.3856%203.40561%208.96373%202.43024%208.98313%201.67786C9.06703%20-1.59608%2017.6602%206.85137%2017.6602%208.42688C17.6602%2010.0024%2011.5974%2015.0865%209.41969%2016.053C8.26137%2014.7095%2010.1385%2013.5055%2012.1534%2012.2131C13.5796%2011.2983%2015.0748%2010.3393%2015.6115%209.25518C15.2768%209.23202%2014.8599%209.18443%2014.3463%209.1258C12.7675%208.94557%2010.275%208.66104%206.44477%208.66104C6.24278%208.66104%205.88925%208.70421%205.45512%208.75723C3.79664%208.95976%200.961872%209.30595%200.906044%207.93743C0.857861%206.75629%202.22789%206.888%204.32034%207.08916C5.28692%207.18209%206.40766%207.28983%207.61397%207.28983C10.3459%207.28983%2013.8795%207.28984%2015.6684%207.79231C15.1661%206.68499%2013.4869%205.5331%2011.9372%204.47005Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: currentColor;
  width: 1em;
  height: 1em;
  display: flex;
}
.wp-block-mellobase-swiper .swiper-button-prev {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}
.wp-block-mellobase-swiper .swiper-button-prev::after {
  content: "";
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2216%22%20viewBox%3D%220%200%2018%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-left-small%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M6.62772%2011.5829C8.1794%2012.6474%209.60124%2013.6227%209.58184%2014.3751C9.49794%2017.649%200.904813%209.2016%200.904813%207.6261C0.904813%206.05059%206.96752%200.966498%209.14528%20-3.74618e-05C10.3036%201.34349%208.42647%202.5475%206.41153%203.8399C4.98537%204.75465%203.49018%205.71367%202.95342%206.79779C3.2882%206.82095%203.7051%206.86854%204.2187%206.92717C5.79745%207.1074%208.28999%207.39194%2012.1202%207.39193C12.3222%207.39193%2012.6757%207.34876%2013.1098%207.29574C14.7683%207.09321%2017.6031%206.74702%2017.6589%208.11554C17.7071%209.29668%2016.3371%209.16497%2014.2446%208.96381C13.2781%208.87088%2012.1573%208.76314%2010.951%208.76314C8.21907%208.76314%204.6855%208.76313%202.89656%208.26066C3.39891%209.36798%205.07806%2010.5199%206.62772%2011.5829Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2216%22%20viewBox%3D%220%200%2018%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22arrow-left-small%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M6.62772%2011.5829C8.1794%2012.6474%209.60124%2013.6227%209.58184%2014.3751C9.49794%2017.649%200.904813%209.2016%200.904813%207.6261C0.904813%206.05059%206.96752%200.966498%209.14528%20-3.74618e-05C10.3036%201.34349%208.42647%202.5475%206.41153%203.8399C4.98537%204.75465%203.49018%205.71367%202.95342%206.79779C3.2882%206.82095%203.7051%206.86854%204.2187%206.92717C5.79745%207.1074%208.28999%207.39194%2012.1202%207.39193C12.3222%207.39193%2012.6757%207.34876%2013.1098%207.29574C14.7683%207.09321%2017.6031%206.74702%2017.6589%208.11554C17.7071%209.29668%2016.3371%209.16497%2014.2446%208.96381C13.2781%208.87088%2012.1573%208.76314%2010.951%208.76314C8.21907%208.76314%204.6855%208.76313%202.89656%208.26066C3.39891%209.36798%205.07806%2010.5199%206.62772%2011.5829Z%22%20fill%3D%22%23EE255A%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: currentColor;
  width: 1em;
  height: 1em;
  display: flex;
}
.wp-block-mellobase-swiper .swiper-scrollbar {
  position: relative;
  inset: 0;
  width: 100%;
  margin: var(--wp--preset--spacing--large) auto;
}
.wp-block-mellobase-swiper .swiper-scrollbar .swiper-scrollbar-drag {
  margin: unset !important;
}
.wp-block-mellobase-swiper .swiper-pagination {
  display: inline-flex;
  gap: var(--wp--preset--spacing--small);
  position: unset;
}

.wp-block-mellobase-swiper.swiper.is-style-fade {
  display: flex;
  flex-direction: column;
  overflow: visible;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}
.wp-block-mellobase-swiper.swiper.is-style-fade .swiper-slide {
  height: unset;
  opacity: 0;
  max-width: 100%;
}
.wp-block-mellobase-swiper.swiper.is-style-fade .swiper-slide.swiper-slide-visible {
  opacity: 1;
}
.wp-block-mellobase-swiper.swiper.is-style-fade .wp-block-quote {
  display: flex;
}

.wp-block-mellobase-swiper.swiper.is-style-one-across {
  position: relative;
}
.wp-block-mellobase-swiper.swiper.is-style-one-across .wp-block-buttons {
  position: absolute;
  inset: 0;
}

.wp-block-mellobase-swiper.swiper.is-style-two-across {
  overflow: visible;
}

.wp-block-mellobase-swiper.swiper.is-style-three-across {
  overflow: clip;
  overflow-clip-margin: 2em;
}
