@forward "reset";
@forward "typography";
@forward "visually-hidden";
@forward "forms";

html{
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
}

.wp-site-blocks{
    overflow-x: clip;
}