@forward "reset";
@forward "typography";
@forward "visually-hidden";

html{
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
}

.wp-site-blocks{
    overflow-x: clip;
}

// hide empty buttons from synced patterns

.wp-block-buttons:not(:has(.wp-block-button)) {
    display: none;
}

// hide empty paragraphs from synced patterns

p:empty,
p:has(br:only-child) {
    display: none;
}