// Text base styling

@use "../utils/" as *;

// Text hightlight styling

mark {
    background-color: inherit;
}

::selection {
    background: $color-primary;
    color: $color-base;
}

::marker {
    color: $color-secondary;
}

* {
    text-wrap-style: auto;
}

@include for-tablet-portrait-up {
    .has-x-large-font-size,
    .has-xx-large-font-size {
        text-wrap-style: balance;
    }

    .has-large-font-size{
        text-wrap-style: pretty;
    }
}

.has-x-large-font-size,
.has-xx-large-font-size {
    line-height: 1.1;
}

.has-icon-font-family {
    display: block;
}