@use "../../scss/utils/" as *;

// import Swiper styles
@import 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css';
// @forward 'swiper/css';
// @forward 'swiper/css/navigation';
// @forward 'swiper/css/pagination';
// @forward 'swiper/css/scrollbar';
// @forward 'swiper/css/autoplay';
// @forward 'swiper/css/effect-fade';
// @forward 'swiper/css/free-mode';
// @forward 'swiper/css/mouse-wheel';

.wp-block-mellobase-swiper {
    --swiper-navigation-size: $font-size-large;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-color: var(--wp--preset--color--primary);

    --swiper-pagination-color: var(--wp--preset--color--primary);
    --swiper-pagination-left: auto;
    --swiper-pagination-right: 8px;
    --swiper-pagination-bottom: 8px;
    --swiper-pagination-top: auto;
    --swiper-pagination-fraction-color: inherit;
    --swiper-pagination-progressbar-bg-color: var(--wp--preset--color--tertiary);
    --swiper-pagination-progressbar-size: 4px;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-inactive-color: var(--wp--preset--color--tertiary);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 0;
    --swiper-pagination-bullet-vertical-gap: 0;

    &.swiper.is-style-ticker-left, &.swiper.is-style-ticker-right{
        .swiper-wrapper{
            transition-timing-function: linear;
        }
        .swiper-slide{
            flex-shrink: 1;
            min-width: max-content;
        }
    }

    .swiper-button-next, .swiper-button-prev{
        margin-block-start: unset;
        position: unset;
        inset: 0;
        color: $color-base;
        padding: $spacing-small $spacing-medium;
        background-color: $color-primary;

        a, .wp-block-button__link{
            @include always-visually-hidden();
        }
    }
    // .swiper-button-next{
    //     @include arrow-right-small-after()
    // }
    // .swiper-button-prev{
    //     @include arrow-left-small-after()
    // }

    .swiper-scrollbar{
        position: relative;
        inset: 0;
        width: 100%;
        margin: $spacing-large auto;

        .swiper-scrollbar-drag{
            margin: unset!important;
        }
    }

    .swiper-pagination{
        display: inline-flex;
        gap: $spacing-small;
        position: unset;
    }


}


// style faded

.wp-block-mellobase-swiper.swiper.is-style-fade{
    display: flex;
    flex-direction: column;
    overflow: visible;
    width: fill-available;

    .swiper-slide{
        // background-color: $color-contrast;
        height: unset;
        opacity: 0;
        max-width: 100%;

        &.swiper-slide-visible{
            opacity: 1;
        }
    }

    .wp-block-quote{
        display: flex;
    }
}

// style one across

.wp-block-mellobase-swiper.swiper.is-style-one-across{
    position: relative;

    .wp-block-buttons{
        position: absolute;
        inset: 0;
    }
}

// style two across

// *:has(> .wp-block-mellobase-swiper.swiper.is-style-two-across){
//     overflow-x: clip;
// }

.wp-block-mellobase-swiper.swiper.is-style-two-across{
    overflow: visible;
}

// style three across

.wp-block-mellobase-swiper.swiper.is-style-three-across{
    overflow: clip;
    overflow-clip-margin: 2em;
}