// Section - Approach scroll

@use "../utils" as *;

.is-section-approach-scroll {
	.has-base-background-color {
		border-radius: $radius-medium !important;
	}
}

.is-section-approach-scroll__card-sorting {

	.is-section-approach-scroll__phase-card {
		position: sticky;
		top: 50%;
		transform: translateY(50%);
		max-width: 460px;
		aspect-ratio: 3/4;
		filter: drop-shadow(10px 10px 50px #00000020);
		border-radius: $radius-medium;
	}

	.is-section-approach-scroll__right-column {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;

		.is-section-approach-scroll__phase-card {
			$total-cards: 5; // Adjust dynamically if needed

			@for $i from 1 through $total-cards {
				&:nth-child(#{$i}) {
					// Spread the cards based on column width instead of viewport width
					// left: calc(((100% - 460px) / ($total-cards - 1)) * ($i - 1));

					// Random rotation between -10deg and 10deg
					$rotation: random(10) - 5 + deg;
					transform: rotate($rotation);
				}
			}
		}
	}
}

// .is-section-approach-scroll__phase-card {
// 	position: absolute;
// 	top: 0; // Keep them stacked
// 	width: max-content;

// 	// Generate styles dynamically for a max of 10 cards
// 	@for $i from 1 through 10 {
// 		&:nth-child(#{$i}) {
// 			$total: 5; // Adjust to match your expected total cards
// 			left: calc((100% / ($total - 1)) * ($i - 1));

// 			// Random rotation between -10deg and 10deg
// 			$rotation: random(20) - 10 + deg;
// 			transform: rotate($rotation);
// 		}
// 	}
// }
