// Section - Approach main

@use "../utils" as *;

.is-section-approach-main{
	.approach-phase{

		&__content-wrapper{
			min-height: 80svh;
		}
		
		&__content-text{
			@include for-tablet-portrait-up{
				padding: $spacing-section 0;
			}

			.replaced-svg{
				animation: rotate-small 1s infinite alternate-reverse steps(4);
			}
		}

		&__content-imagery{
			position: relative;
			display: grid;
			grid-template: "container" 1fr;
			grid-area: imagery;
			place-items: center;
			place-content: center;
			overflow: visible;

			@include for-tablet-portrait-up {
				min-height: 100%;
			}
		}
		&__dotted-line{
			grid-area: container;
			position: absolute;
			pointer-events: none;
			z-index: -1;
			width: 100%;
			height: 100%;

			img{
				width: 100%;
				height: 100%;
				object-fit: fill!important;
			}

			@include for-tablet-portrait-down{
				height: 100vw;
				rotate: -90deg;
			}
		}
		&__icon{
			grid-area: container;

			img{
				width: 30vmin;
			}
		}
		&__benefit{
			.wp-block-image{
				margin-left: -2%;
			}
		}
	}
}