// Patterns - Card Outcomes

@use "../utils" as *;

.is-pattern-card-outcomes{
	
	&_featured{

		.wp-block-post-featured-image{
			border-radius: $radius-medium;

			@include for-phone-only{
				img{
					aspect-ratio: 4/3;
					max-height: 70svh;
				}
			}
		}

		.wp-block-column:nth-child(2n){
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}

		.wp-block-post-title{
			font-weight: 800;
			font-style: italic;
		}

		blockquote{
			> p {
				font-size: $font-size-medium;
				text-indent: -.4em;
			}

			> .wp-block-group{
				font-size: $font-size-small;

				figure{
					position: relative;

					&:after{
						content: '';
						position: absolute;
						inset: 0;
						width: 100%;
						height: 100%;
						background-size: contain;
						background-image: url('data:image/svg+xml,<svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg"><path id="quote" d="M9.35803 8.58624C12.1825 5.5647 16.6467 3.59314 21.126 2.2642C40.9366 -3.60669 57.3141 9.07023 54.2241 25.0145C53.1377 30.6124 49.0188 35.9047 47.1987 41.1138C45.6164 45.6484 48.5584 47.9502 50.3957 52.0176C52.233 56.085 27.7245 54.0963 17.0324 50.1865C-0.791405 43.667 -1.92809 27.4053 3.40138 15.8515M4.93496 16.686C-0.311263 27.2543 0.938281 42.6442 17.1047 48.9369C22.8407 51.1692 28.7411 52.0104 35.1456 51.9724C40.2275 51.9427 48.4892 52.1908 48.4892 52.1908C48.4892 52.1908 43.2018 46.3222 45.7282 40.2992C49.5382 31.2321 56.7126 23.0103 50.5838 12.4928C44.868 2.68472 34.4855 0.446541 23.2612 3.27203C18.4318 4.48706 13.1035 5.96187 10.6689 9.64282" fill="%2309002E"></path></svg>');
					}
				}

				img{
					border-radius: 100%;
				}

				p:first-child {
					font-weight: 700;
				}

			}

		}

		.wp-block-read-more{
			font-size: $font-size-medium;
			font-weight: 700;
		}

	}
}