// Patterns - Solutions Overview

@use "../utils" as *;

.is-section-solutions-overview{
	&__wrapper{
		flex-wrap: wrap;

		@include for-tablet-landscape-up{
			align-items: center;
		}
	}
	&__card{
		flex-wrap: wrap;
		flex: 1 1 250px;

		&.featured{
			order: -1;
			flex: 1 0 100%;

			@include for-tablet-landscape-up{
				order: unset;
				flex: 1 1 250px;

				.is-section-solutions-overview__illustration{
					width: 60%;
					margin: auto;

					img{
						width: 100%;
					}
				}
			}
		}
	}
	&__illustration{
		width: 40%;
	}
	p{
		text-wrap-style: balance;
	}
}