// Patterns - Solutions compare

@use "../utils" as *;

.is-section-solutions-compare {
	&__title-wrapper{
		border: solid green 2px;
	}
	&__top-columns {
		border: solid purple 2px;
	}
	&__brand-master{
		border: solid pink 2px;
	}
	&__brand-foundations{
		border: solid green 2px;
	}
	&__brand-my-product{
		border: solid red 2px;
	}
}
