// Patterns - Where to next

@use "../utils" as *;

.is-pattern-where-to-next{

    // &__content-left{
    // }

    &__content-right{
        @include for-tablet-portrait-down{
            display: flex;
            justify-content: flex-end;
            
            .wp-block-image{
                width: 30%;
            }
        }
    }
}