/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/@wordpress/scripts/node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/term-seo-title/style.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
/**
 * Theme.json widths
 */
/**
 * Theme.json Set Color Variables
 */
/**
 * Theme.json Set Font Variables
 */
/**
 * Theme.json Set Spacing Variables
 */
/**
 * Theme.json Custom Variables
 */
/**
 * Theme.json Set Radius Variables
 */
/**
 * Wordpress misc Variables
 */
/**
 * MelloBase misc Variables
 */
.wp-block-mellobase-term-seo-title {
  font-weight: 800;
}
.wp-block-mellobase-term-seo-title.has-small-font-size {
  font-size: var(--wp--preset--font-size--medium) !important;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 900;
}
.wp-block-mellobase-term-seo-title.has-medium-font-size {
  font-size: var(--wp--preset--font-size--large) !important;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 900;
}
.wp-block-mellobase-term-seo-title.has-large-font-size {
  font-size: var(--wp--preset--font-size--x-large) !important;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 900;
}
.wp-block-mellobase-term-seo-title.has-x-large-font-size {
  font-size: var(--wp--preset--font-size--xx-large) !important;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 900;
}
.wp-block-mellobase-term-seo-title.has-xx-large-font-size {
  font-size: clamp(1.875rem, 1.875rem + (1vw - 0.2rem) * 5.093, 8.313rem) !important;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 900;
}
.wp-block-mellobase-term-seo-title.is-style-after-line {
  font-style: italic;
}
.wp-block-mellobase-term-seo-title.is-style-after-line::after {
  content: "";
  display: inline-block;
  width: 2.5em;
  height: 1em;
  margin-left: 0.5em;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg width=\"44\" height=\"5\" viewBox=\"0 0 44 5\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M16.7236 0.00253981C18.4869 -0.0446876 20.1955 0.567963 21.8311 1.73691C23.1401 2.67253 24.3394 2.90489 25.4971 2.60215C27.127 2.17591 28.7657 2.08941 30.4043 2.34531C31.8125 2.56523 33.219 2.58687 34.626 2.41074C36.0376 2.23402 37.4565 1.86632 38.8838 1.3043C39.6533 1.00128 40.3142 0.78142 40.8486 0.664649C41.1153 0.6064 41.3824 0.567054 41.6328 0.56504C41.837 0.563416 42.1115 0.584734 42.3809 0.706641L42.4951 0.765235L42.5391 0.790626L42.5811 0.819923L42.7754 0.959571C43.1935 1.0793 43.5 1.46292 43.5 1.91953C43.5 2.47182 43.0523 2.91953 42.5 2.91953H42.0801L41.5879 2.56895C41.5193 2.57458 41.4175 2.58793 41.2764 2.61875C40.8942 2.70223 40.3464 2.8781 39.6162 3.16563C38.0436 3.78486 36.4623 4.1963 34.874 4.39512C33.2811 4.5945 31.6874 4.56948 30.0957 4.3209C28.7344 4.1083 27.3729 4.17943 26.0029 4.5377C24.1608 5.0194 22.3598 4.57225 20.6689 3.36387C19.3047 2.38876 18.0128 1.96836 16.7764 2.00156C15.423 2.03797 14.0541 2.36406 12.6641 2.99668C10.9406 3.78105 9.17531 3.88401 7.42285 3.27793C6.1233 2.82855 4.07556 2.67562 1.18262 2.91563L1.1416 2.91953H1C0.447715 2.91953 0 2.47182 0 1.91953C0 1.36725 0.447715 0.919532 1 0.919532H1.06836C4.01823 0.67846 6.38642 0.802577 8.07715 1.38731C9.32462 1.81869 10.5595 1.75728 11.8359 1.17637C13.4457 0.443804 15.0773 0.0467462 16.7236 0.00253981Z\" fill=\"%23E9BF17\"/></svg>");
          mask-image: url("data:image/svg+xml,<svg width=\"44\" height=\"5\" viewBox=\"0 0 44 5\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M16.7236 0.00253981C18.4869 -0.0446876 20.1955 0.567963 21.8311 1.73691C23.1401 2.67253 24.3394 2.90489 25.4971 2.60215C27.127 2.17591 28.7657 2.08941 30.4043 2.34531C31.8125 2.56523 33.219 2.58687 34.626 2.41074C36.0376 2.23402 37.4565 1.86632 38.8838 1.3043C39.6533 1.00128 40.3142 0.78142 40.8486 0.664649C41.1153 0.6064 41.3824 0.567054 41.6328 0.56504C41.837 0.563416 42.1115 0.584734 42.3809 0.706641L42.4951 0.765235L42.5391 0.790626L42.5811 0.819923L42.7754 0.959571C43.1935 1.0793 43.5 1.46292 43.5 1.91953C43.5 2.47182 43.0523 2.91953 42.5 2.91953H42.0801L41.5879 2.56895C41.5193 2.57458 41.4175 2.58793 41.2764 2.61875C40.8942 2.70223 40.3464 2.8781 39.6162 3.16563C38.0436 3.78486 36.4623 4.1963 34.874 4.39512C33.2811 4.5945 31.6874 4.56948 30.0957 4.3209C28.7344 4.1083 27.3729 4.17943 26.0029 4.5377C24.1608 5.0194 22.3598 4.57225 20.6689 3.36387C19.3047 2.38876 18.0128 1.96836 16.7764 2.00156C15.423 2.03797 14.0541 2.36406 12.6641 2.99668C10.9406 3.78105 9.17531 3.88401 7.42285 3.27793C6.1233 2.82855 4.07556 2.67562 1.18262 2.91563L1.1416 2.91953H1C0.447715 2.91953 0 2.47182 0 1.91953C0 1.36725 0.447715 0.919532 1 0.919532H1.06836C4.01823 0.67846 6.38642 0.802577 8.07715 1.38731C9.32462 1.81869 10.5595 1.75728 11.8359 1.17637C13.4457 0.443804 15.0773 0.0467462 16.7236 0.00253981Z\" fill=\"%23E9BF17\"/></svg>");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% auto;
          mask-size: 100% auto;
  -webkit-mask-position: 0 0.5em;
          mask-position: 0 0.5em;
}
.wp-block-mellobase-term-seo-title.is-style-after-line.has-text-align-center {
  justify-content: center;
}
.wp-block-mellobase-term-seo-title.is-style-after-line.has-text-align-center::before {
  content: "";
  display: inline-block;
  width: 2.5em;
  height: 1em;
  margin-right: 0.5em;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg width=\"44\" height=\"5\" viewBox=\"0 0 44 5\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M16.7236 0.00253981C18.4869 -0.0446876 20.1955 0.567963 21.8311 1.73691C23.1401 2.67253 24.3394 2.90489 25.4971 2.60215C27.127 2.17591 28.7657 2.08941 30.4043 2.34531C31.8125 2.56523 33.219 2.58687 34.626 2.41074C36.0376 2.23402 37.4565 1.86632 38.8838 1.3043C39.6533 1.00128 40.3142 0.78142 40.8486 0.664649C41.1153 0.6064 41.3824 0.567054 41.6328 0.56504C41.837 0.563416 42.1115 0.584734 42.3809 0.706641L42.4951 0.765235L42.5391 0.790626L42.5811 0.819923L42.7754 0.959571C43.1935 1.0793 43.5 1.46292 43.5 1.91953C43.5 2.47182 43.0523 2.91953 42.5 2.91953H42.0801L41.5879 2.56895C41.5193 2.57458 41.4175 2.58793 41.2764 2.61875C40.8942 2.70223 40.3464 2.8781 39.6162 3.16563C38.0436 3.78486 36.4623 4.1963 34.874 4.39512C33.2811 4.5945 31.6874 4.56948 30.0957 4.3209C28.7344 4.1083 27.3729 4.17943 26.0029 4.5377C24.1608 5.0194 22.3598 4.57225 20.6689 3.36387C19.3047 2.38876 18.0128 1.96836 16.7764 2.00156C15.423 2.03797 14.0541 2.36406 12.6641 2.99668C10.9406 3.78105 9.17531 3.88401 7.42285 3.27793C6.1233 2.82855 4.07556 2.67562 1.18262 2.91563L1.1416 2.91953H1C0.447715 2.91953 0 2.47182 0 1.91953C0 1.36725 0.447715 0.919532 1 0.919532H1.06836C4.01823 0.67846 6.38642 0.802577 8.07715 1.38731C9.32462 1.81869 10.5595 1.75728 11.8359 1.17637C13.4457 0.443804 15.0773 0.0467462 16.7236 0.00253981Z\" fill=\"%23E9BF17\"/></svg>");
          mask-image: url("data:image/svg+xml,<svg width=\"44\" height=\"5\" viewBox=\"0 0 44 5\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M16.7236 0.00253981C18.4869 -0.0446876 20.1955 0.567963 21.8311 1.73691C23.1401 2.67253 24.3394 2.90489 25.4971 2.60215C27.127 2.17591 28.7657 2.08941 30.4043 2.34531C31.8125 2.56523 33.219 2.58687 34.626 2.41074C36.0376 2.23402 37.4565 1.86632 38.8838 1.3043C39.6533 1.00128 40.3142 0.78142 40.8486 0.664649C41.1153 0.6064 41.3824 0.567054 41.6328 0.56504C41.837 0.563416 42.1115 0.584734 42.3809 0.706641L42.4951 0.765235L42.5391 0.790626L42.5811 0.819923L42.7754 0.959571C43.1935 1.0793 43.5 1.46292 43.5 1.91953C43.5 2.47182 43.0523 2.91953 42.5 2.91953H42.0801L41.5879 2.56895C41.5193 2.57458 41.4175 2.58793 41.2764 2.61875C40.8942 2.70223 40.3464 2.8781 39.6162 3.16563C38.0436 3.78486 36.4623 4.1963 34.874 4.39512C33.2811 4.5945 31.6874 4.56948 30.0957 4.3209C28.7344 4.1083 27.3729 4.17943 26.0029 4.5377C24.1608 5.0194 22.3598 4.57225 20.6689 3.36387C19.3047 2.38876 18.0128 1.96836 16.7764 2.00156C15.423 2.03797 14.0541 2.36406 12.6641 2.99668C10.9406 3.78105 9.17531 3.88401 7.42285 3.27793C6.1233 2.82855 4.07556 2.67562 1.18262 2.91563L1.1416 2.91953H1C0.447715 2.91953 0 2.47182 0 1.91953C0 1.36725 0.447715 0.919532 1 0.919532H1.06836C4.01823 0.67846 6.38642 0.802577 8.07715 1.38731C9.32462 1.81869 10.5595 1.75728 11.8359 1.17637C13.4457 0.443804 15.0773 0.0467462 16.7236 0.00253981Z\" fill=\"%23E9BF17\"/></svg>");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% auto;
          mask-size: 100% auto;
  -webkit-mask-position: 0 0.5em;
          mask-position: 0 0.5em;
}

/*# sourceMappingURL=style-index.css.map*/