// Core Block Heading

@use "../../utils" as *;

.wp-block-heading{
    text-wrap: balance;
    @include heading-font-sizes()
}

.wp-block-heading{
    &.has-small-font-size{
        color: $color-secondary;
        text-transform: uppercase;
    }
}