//  Core seach block styling

@use "../../utils" as *;

.wp-block-search__input{
	background-color: transparent;
	color: $color-base;
	border: $color-base 2px solid;
}

::placeholder{
	color: $color-base;
}
