<!-- wp:template-part {"slug":"header","theme":"mellobase","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:block {"ref":3704,"content":{"SEO Title":{"content":"Meet the Red Kite team"},"Display Title":{"content":"Successful brands are born from an expert team"},"Para":{"content":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur ligula leo, sit amet hendrerit justo consectetur ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."}}} /-->

	<!-- wp:group {"metadata":{"name":"Query Wrapper"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|section"}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide"><!-- wp:query {"queryId":14,"query":{"pages":0,"offset":0,"postType":"team","order":"asc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"perPage":12,"parents":[],"format":[]},"align":"wide","layout":{"type":"default"}} -->
	<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|xx-large"}},"layout":{"type":"grid","columnCount":3}} -->
	<!-- wp:block {"ref":2724} /-->
	<!-- /wp:post-template --></div>
	<!-- /wp:query -->
	
	<!-- wp:block {"ref":1374} /--></div>
	<!-- /wp:group --></main>
	<!-- /wp:group -->
	
	<!-- wp:block {"ref":1241} /-->
	
	<!-- wp:template-part {"slug":"footer","theme":"mellobase","tagName":"footer"} /-->