<!-- wp:template-part {"slug":"header","theme":"mellobase","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"align":"wide","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignwide"><!-- wp:block {"ref":3420,"content":{"Display Title":{"content":"Bust the jargon behind your next branding project"},"SEO Title":{"content":"Branding Glossary"}}} /-->

	<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","verticalAlignment":"bottom"}} -->
	<div class="wp-block-group alignwide"><!-- wp:search-filter/search {"queryId":"6","label":"Search terms","showLabel":"yes","showDescription":"no","inputType":"text","placeholder":"Enter keywords to search","inputOptionsOrderDir":"asc","stylesId":"0","width":"100","inputShowIcon":"yes","align":"","alignment":"left","type":"search","fieldId":"745","dataType":"post_attribute","dataPostAttribute":"default","autoSubmit":"yes","autoSubmitDelay":"","defaultValueType":"none","labelToggleVisibility":"no","dataUrlName":""} /-->
	
	<!-- wp:search-filter/control {"queryId":"5","label":"Reset","showDescription":"no","controlType":"reset","stylesId":"0","width":"","align":"","type":"control","fieldId":"744"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:query {"queryId":9,"query":{"perPage":12,"pages":0,"offset":0,"postType":"tests","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"parents":[],"format":[]},"align":"wide","searchFilterQueryId":6} -->
	<div class="wp-block-query alignwide"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default","columnCount":3}} -->
	<!-- wp:block {"ref":3597} /-->
	<!-- /wp:post-template -->
	
	<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
	<!-- wp:query-pagination-previous {"label":"Prev"} /-->
	
	<!-- wp:query-pagination-numbers /-->
	
	<!-- wp:query-pagination-next {"label":"Next"} /-->
	<!-- /wp:query-pagination -->
	
	<!-- wp:query-no-results -->
	<!-- wp:block {"ref":4810} /-->
	<!-- /wp:query-no-results --></div>
	<!-- /wp:query -->
	
	<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|section","bottom":"var:preset|spacing|section"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide" style="margin-top:var(--wp--preset--spacing--section);margin-bottom:var(--wp--preset--spacing--section)"><!-- wp:block {"ref":1374} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:block {"ref":1241,"content":{"Display Heading":{"content":"\u003cem\u003eNeed more answers? Get in touch \u0026amp; our team will help\u003c/em\u003e!"},"Button":{"text":"Contact us","url":"/contact/","linkTarget":"","rel":""}}} /--></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"mellobase","tagName":"footer"} /-->