<!-- wp:template-part {"slug":"header","theme":"mellobase","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)"><!-- wp:block {"ref":3704,"content":{"SEO Title":{"content":"Branding Services"},"Display Title":{"content":"Successful brands are born from a proven approach"},"Para":{"content":"XXXXXX"}}} /-->

	<!-- wp:query {"queryId":29,"query":{"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"perPage":12},"align":"wide","layout":{"type":"default"}} -->
	<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|xx-large"}},"layout":{"type":"grid","columnCount":3}} -->
	<!-- wp:block {"ref":3889} /-->
	<!-- /wp:post-template -->
	
	<!-- wp:query-no-results -->
	<!-- wp:block {"ref":4810} /-->
	<!-- /wp:query-no-results --></div>
	<!-- /wp:query -->
	
	<!-- wp:spacer {"height":"var:preset|spacing|section"} -->
	<div style="height:var(--wp--preset--spacing--section)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	
	<!-- wp:block {"ref":929} /-->
	
	<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|section","bottom":"var:preset|spacing|section"},"padding":{"top":"var:preset|spacing|section","bottom":"var:preset|spacing|section"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide" style="margin-top:var(--wp--preset--spacing--section);margin-bottom:var(--wp--preset--spacing--section);padding-top:var(--wp--preset--spacing--section);padding-bottom:var(--wp--preset--spacing--section)"><!-- wp:block {"ref":1374} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:block {"ref":1241,"content":{"Display Heading":{"content":"\u003cem\u003eGet the best branding experience with our full brand solutions\u003c/em\u003e"},"Button":{"text":"Browse our brand solutions","url":"/solutions/","linkTarget":"","rel":""}}} /--></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"mellobase","tagName":"footer"} /-->