<!-- wp:template-part {"slug":"header","theme":"mellobase","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"align":"wide","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignwide"><!-- wp:group {"tagName":"section","metadata":{"name":"Title"},"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|xx-large","bottom":"var:preset|spacing|xx-large"}}},"backgroundColor":"transparent","layout":{"type":"default"}} -->
	<section class="wp-block-group alignwide has-transparent-background-color has-background" style="margin-top:var(--wp--preset--spacing--xx-large);margin-bottom:var(--wp--preset--spacing--xx-large)"><!-- wp:heading {"fontSize":"xx-large"} -->
	<h2 class="wp-block-heading has-xx-large-font-size">Blog home Archive</h2>
	<!-- /wp:heading -->
	
	<!-- wp:post-excerpt /--></section>
	<!-- /wp:group -->
	
	<!-- wp:group {"align":"wide","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"bottom"}} -->
	<div class="wp-block-group alignwide"><!-- wp:search-filter/search {"queryId":"2","label":"Keywords","inputType":"text","placeholder":"Keywords","type":"search","fieldId":"113","dataType":"post_attribute","dataPostAttribute":"default"} /-->
	
	<!-- wp:search-filter/choice {"queryId":"2","label":"Categories","dataType":"taxonomy","dataPostAttribute":"post_type","dataTaxonomy":"category","inputType":"button","multipleMatchMethod":"all","hideEmpty":"no","inputOptionsOrderDir":"asc","taxonomyOrderBy":"default","taxonomyOrderDir":"default","type":"choice","fieldId":"119","labelInitialVisibility":"visible"} /-->
	
	<!-- wp:search-filter/control {"queryId":"2","label":"Submit","controlType":"submit","type":"control","fieldId":"114"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:query {"queryId":3,"query":{"perPage":12,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[],"format":[]},"align":"wide","searchFilterQueryId":2} -->
	<div class="wp-block-query alignwide"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|xx-large"}},"layout":{"type":"grid","columnCount":3}} -->
	<!-- wp:post-title /-->
	
	<!-- wp:post-excerpt {"moreText":""} /-->
	
	<!-- wp:read-more {"content":"Read more"} /-->
	<!-- /wp:post-template -->
	
	<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
	<!-- wp:query-pagination-previous /-->
	
	<!-- wp:query-pagination-numbers /-->
	
	<!-- wp:query-pagination-next /-->
	<!-- /wp:query-pagination -->
	
	<!-- wp:query-no-results -->
	<!-- wp:paragraph -->
	<p>No results to display</p>
	<!-- /wp:paragraph -->
	<!-- /wp:query-no-results --></div>
	<!-- /wp:query --></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"mellobase","tagName":"footer"} /-->