<!-- wp:template-part {"slug":"header","theme":"mellobase","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)"><!-- wp:group {"tagName":"section","metadata":{"name":"Title"},"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|xx-large","bottom":"var:preset|spacing|xx-large"}}},"backgroundColor":"transparent","layout":{"type":"default"}} -->
	<section class="wp-block-group alignwide has-transparent-background-color has-background" style="margin-top:var(--wp--preset--spacing--xx-large);margin-bottom:var(--wp--preset--spacing--xx-large)"><!-- wp:heading {"fontSize":"xx-large"} -->
	<h2 class="wp-block-heading has-xx-large-font-size">Search Results</h2>
	<!-- /wp:heading -->
	
	<!-- wp:post-excerpt /--></section>
	<!-- /wp:group -->
	
	<!-- wp:group {"align":"wide","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left","verticalAlignment":"bottom"}} -->
	<div class="wp-block-group alignwide"><!-- wp:search-filter/search {"queryId":"3","label":"Key words","inputType":"text","inputOptionsOrderDir":"asc","type":"search","fieldId":"185","dataType":"post_attribute","dataPostAttribute":"default","autoSubmitDelay":"","dataUrlName":""} /-->
	
	<!-- wp:search-filter/control {"queryId":"3","label":"Submit","controlType":"submit","type":"control","fieldId":"196"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:query {"queryId":94,"query":{"pages":0,"offset":0,"postType":"page","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"perPage":12,"parents":[],"format":[]},"align":"wide","layout":{"type":"default"},"searchFilterQueryId":15} -->
	<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","layout":{"type":"default"}} -->
	<!-- wp:post-featured-image {"aspectRatio":"auto","width":"","scale":"contain","blockVisibility":{"visibilityPresets":{"operator":"all","presets":[2870]}}} /-->
	
	<!-- wp:group {"tagName":"article","style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"default"}} -->
	<article class="wp-block-group"><!-- wp:mellobase/post-type {"className":"is-style-after-line","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} /-->
	
	<!-- wp:post-title {"isLink":true,"className":"is-style-arrow-after","style":{"typography":{"fontStyle":"normal","fontWeight":"900"},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0","left":"0","right":"0"}}}} /--></article>
	<!-- /wp:group -->
	<!-- /wp:post-template -->
	
	<!-- wp:template-part {"slug":"post-meta","theme":"mellobase","area":"uncategorized"} /-->
	
	<!-- wp:query-no-results -->
	<!-- wp:block {"ref":4810} /-->
	<!-- /wp:query-no-results --></div>
	<!-- /wp:query -->
	
	<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|section","bottom":"var:preset|spacing|section"}}},"layout":{"type":"default"}} -->
	<div class="wp-block-group alignwide" style="margin-top:var(--wp--preset--spacing--section);margin-bottom:var(--wp--preset--spacing--section)"><!-- wp:separator {"backgroundColor":"tertiary"} -->
	<hr class="wp-block-separator has-text-color has-tertiary-color has-alpha-channel-opacity has-tertiary-background-color has-background"/>
	<!-- /wp:separator --></div>
	<!-- /wp:group -->
	
	<!-- wp:block {"ref":1241} /--></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"mellobase","tagName":"footer"} /-->