<!-- wp:template-part {"slug":"header","theme":"mellobase","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50)"><!-- wp:group {"tagName":"section","metadata":{"name":"Title"},"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|xx-large","bottom":"var:preset|spacing|xx-large"}}},"backgroundColor":"transparent","layout":{"type":"default"}} -->
	<section class="wp-block-group alignwide has-transparent-background-color has-background" style="margin-top:var(--wp--preset--spacing--xx-large);margin-bottom:var(--wp--preset--spacing--xx-large)"><!-- wp:post-title {"fontSize":"xx-large"} /-->
	
	<!-- wp:post-terms {"term":"tests-category"} /-->
	
	<!-- wp:mello-block/read-time -->
	<p class="wp-block-mello-block-read-time">Read Time – hello from the saved content!</p>
	<!-- /wp:mello-block/read-time --></section>
	<!-- /wp:group -->
	
	<!-- wp:group {"metadata":{"name":"Content wrapper"},"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|xx-large"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--xx-large)"><!-- wp:columns {"align":"wide"} -->
	<div class="wp-block-columns alignwide"><!-- wp:column {"width":"","layout":{"type":"constrained","contentSize":"750px","justifyContent":"left"}} -->
	<div class="wp-block-column"><!-- wp:post-content {"layout":{"type":"default"}} /--></div>
	<!-- /wp:column -->
	
	<!-- wp:column {"width":"250px"} -->
	<div class="wp-block-column" style="flex-basis:250px"><!-- wp:group {"tagName":"aside","metadata":{"name":"Aside"},"style":{"layout":{"selfStretch":"fixed","flexSize":"248px"},"dimensions":{"minHeight":"100%"}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"top","justifyContent":"stretch"}} -->
	<aside class="wp-block-group" style="min-height:100%"><!-- wp:post-author {"showBio":true,"byline":"Biline"} /-->
	
	<!-- wp:paragraph {"style":{"color":{"background":"#00fff6"}}} -->
	<p class="has-background" style="background-color:#00fff6">TABLE OF CONTENTS HERE</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:group {"metadata":{"name":"Sticky group"},"style":{"position":{"type":"sticky","top":"0px"},"spacing":{"padding":{"top":"var:preset|spacing|large","bottom":"var:preset|spacing|large","left":"var:preset|spacing|large","right":"var:preset|spacing|large"},"blockGap":"var:preset|spacing|small"},"elements":{"link":{"color":{"text":"var:preset|color|primary-contrast"}}}},"backgroundColor":"primary","textColor":"primary-contrast","layout":{"type":"default"}} -->
	<div class="wp-block-group has-primary-contrast-color has-primary-background-color has-text-color has-background has-link-color" style="padding-top:var(--wp--preset--spacing--large);padding-right:var(--wp--preset--spacing--large);padding-bottom:var(--wp--preset--spacing--large);padding-left:var(--wp--preset--spacing--large)"><!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary-contrast"}}}},"textColor":"primary-contrast"} -->
	<h2 class="wp-block-heading has-primary-contrast-color has-text-color has-link-color">Call to action</h2>
	<!-- /wp:heading -->
	
	<!-- wp:paragraph -->
	<p>Tell us about your business and get access to our pricing video and lorem ispum</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:buttons -->
	<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"contrast","textColor":"base","width":100,"metadata":{"name":"Button text"},"className":"is-style-primary","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}}} -->
	<div class="wp-block-button has-custom-width wp-block-button__width-100 is-style-primary"><a class="wp-block-button__link has-base-color has-contrast-background-color has-text-color has-background has-link-color wp-element-button" href="#">Get started</a></div>
	<!-- /wp:button --></div>
	<!-- /wp:buttons --></div>
	<!-- /wp:group --></aside>
	<!-- /wp:group --></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns --></div>
	<!-- /wp:group --></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"mellobase","tagName":"footer"} /-->