<!-- wp:template-part {"slug":"header","theme":"mellobase","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50)"><!-- wp:block {"ref":3779} /-->

	<!-- wp:group {"metadata":{"name":"Content wrapper"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|xx-large"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--xx-large)"><!-- wp:columns {"align":"wide"} -->
	<div class="wp-block-columns alignwide"><!-- wp:column {"width":"","layout":{"type":"constrained","contentSize":"750px","justifyContent":"left"}} -->
	<div class="wp-block-column"><!-- wp:post-content {"layout":{"type":"default"}} /--></div>
	<!-- /wp:column -->
	
	<!-- wp:column {"width":"250px"} -->
	<div class="wp-block-column" style="flex-basis:250px"><!-- wp:group {"tagName":"aside","metadata":{"name":"Aside"},"style":{"layout":{"selfStretch":"fixed","flexSize":"248px"},"dimensions":{"minHeight":"100%"}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"top","justifyContent":"stretch"}} -->
	<aside class="wp-block-group" style="min-height:100%"><!-- wp:post-author {"showBio":true,"byline":"Biline"} /-->
	
	<!-- wp:paragraph {"style":{"color":{"background":"#00fff6"}}} -->
	<p class="has-background" style="background-color:#00fff6">TABLE OF CONTENTS HERE</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:group {"metadata":{"name":"Sticky group"},"style":{"position":{"type":"sticky","top":"0px"},"spacing":{"padding":{"top":"var:preset|spacing|large","bottom":"var:preset|spacing|large","left":"var:preset|spacing|large","right":"var:preset|spacing|large"},"blockGap":"var:preset|spacing|small"},"border":{"radius":"0.5rem"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"backgroundColor":"primary","textColor":"base","layout":{"type":"default"}} -->
	<div class="wp-block-group has-base-color has-primary-background-color has-text-color has-background has-link-color" style="border-radius:0.5rem;padding-top:var(--wp--preset--spacing--large);padding-right:var(--wp--preset--spacing--large);padding-bottom:var(--wp--preset--spacing--large);padding-left:var(--wp--preset--spacing--large)"><!-- wp:heading -->
	<h2 class="wp-block-heading">Get started on your new brand</h2>
	<!-- /wp:heading -->
	
	<!-- wp:paragraph -->
	<p>Tell us about your business and get access to our pricing video and lorem ispum</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:buttons -->
	<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"contrast","width":100,"metadata":{"name":"Button text"},"className":"is-style-primary"} -->
	<div class="wp-block-button has-custom-width wp-block-button__width-100 is-style-primary"><a class="wp-block-button__link has-contrast-background-color has-background wp-element-button" href="/get-started/">Get started</a></div>
	<!-- /wp:button --></div>
	<!-- /wp:buttons --></div>
	<!-- /wp:group --></aside>
	<!-- /wp:group --></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns --></div>
	<!-- /wp:group -->
	
	<!-- wp:group {"tagName":"section","metadata":{"name":"Related resources"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|x-large","margin":{"top":"var:preset|spacing|section","bottom":"var:preset|spacing|section"},"padding":{"top":"var:preset|spacing|section","bottom":"var:preset|spacing|section"}}},"backgroundColor":"tertiary-2","layout":{"type":"constrained"}} -->
	<section class="wp-block-group alignwide has-tertiary-2-background-color has-background" style="margin-top:var(--wp--preset--spacing--section);margin-bottom:var(--wp--preset--spacing--section);padding-top:var(--wp--preset--spacing--section);padding-bottom:var(--wp--preset--spacing--section)"><!-- wp:query {"queryId":0,"query":{"perPage":100,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","inherit":false,"parents":[],"sticky":"","format":[]},"metadata":{"name":"Query Swiper Variation"},"align":"wide","searchFilterQueryId":8,"excludeCurrentPost":true} -->
	<div class="wp-block-query alignwide"><!-- wp:mellobase/swiper {"className":"is-style-three-across"} -->
	<div class="wp-block-mellobase-swiper swiper is-style-three-across"><!-- wp:group {"metadata":{"name":"Title"},"align":"wide","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","verticalAlignment":"center"}} -->
	<div class="wp-block-group alignwide"><!-- wp:heading {"align":"wide","fontSize":"x-large"} -->
	<h2 class="wp-block-heading alignwide has-x-large-font-size">More branding resources <img class="wp-image-3929" style="width: 30px;" src="https://red-kite-design.local/wp-content/uploads/squiggle-four-right.svg" alt=""></h2>
	<!-- /wp:heading -->
	
	<!-- wp:buttons {"metadata":{"name":"Prev / Next buttons"},"className":"swiper-navigation","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|small"}}}} -->
	<div class="wp-block-buttons swiper-navigation"><!-- wp:button {"className":"swiper-button-prev"} -->
	<div class="wp-block-button swiper-button-prev"><a class="wp-block-button__link wp-element-button">Prev</a></div>
	<!-- /wp:button -->
	
	<!-- wp:button {"className":"swiper-button-next"} -->
	<div class="wp-block-button swiper-button-next"><a class="wp-block-button__link wp-element-button">Next</a></div>
	<!-- /wp:button --></div>
	<!-- /wp:buttons --></div>
	<!-- /wp:group -->
	
	<!-- wp:post-template {"metadata":{"name":"Swiper Wrapper"},"className":"swiper-wrapper","style":{"spacing":{"blockGap":"0"}}} -->
	<!-- wp:block {"ref":2730} /-->
	<!-- /wp:post-template --></div>
	<!-- /wp:mellobase/swiper -->
	
	<!-- wp:query-no-results -->
	<!-- wp:block {"ref":4810} /-->
	<!-- /wp:query-no-results --></div>
	<!-- /wp:query --></section>
	<!-- /wp:group -->
	
	<!-- wp:block {"ref":1241} /--></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"mellobase","tagName":"footer"} /-->