@use "../../utils" as *;

.wp-block-button__link svg {
	vertical-align: middle;
	fill: currentcolor;
}

// Add diaganol for external links

.wp-block-button{
    .wp-block-button__link[target="_blank"]{
        display: inline-flex;
        flex-wrap: nowrap;
        gap: .5em;

        &::after{
            content: '\e09f';
            font-family: $font-icon;
        }
    }
}

// default styling

.wp-block-button:not(.is-style-hidden) {

    .wp-block-button__link,
    .wp-element-button {
        transition: filter $speed-medium $ease-circ,
            scale $speed-medium $ease-circ;
    }

    // &:not(.swiper-button-prev, .swiper-button-next) .wp-block-button__link,
    // &:not(.swiper-button-prev, .swiper-button-next) .wp-element-button {
    //     display: flex;
    //     flex-wrap: nowrap;
    //     gap: .5em;

    //     transition: translate $speed-medium $ease-circ;

    //     @include icon-arrow-after;
    // }

    &:hover,
    &:focus {
        scale: 1.05;
        filter: brightness(1.25);

        &:not(.swiper-button-prev, .swiper-button-next) .wp-block-button__link,
        &:not(.swiper-button-prev, .swiper-button-next) .wp-element-button {
            &::after {
                translate: .3em 0;
            }
        }
    }
}

// registered style primary

.wp-block-button.is-style-primary {

    .wp-block-button__link,
    .wp-element-button {
        color: $color-primary-contrast;
        background-color: $color-primary;
    }
}

// registered style - Hidden

.wp-block-buttons:has(.is-style-hidden) {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    margin: 0;

    .wp-block-button.is-style-hidden {

        .wp-block-button__link,
        .wp-element-button {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            border-radius: 0;
            opacity: 0;
        }
    }
}