@use "../../utils" as *;

.wp-block-button__link svg {
	vertical-align: middle;
	fill: currentcolor;
}

// Add diaganol for external links

.wp-block-button{
    .wp-block-button__link[target="_blank"]{
        display: inline-flex;
        flex-wrap: nowrap;
        gap: .5em;

        &::after{
            content: '\e09f';
            font-family: $font-icon;
        }
    }
}

// Registered style - Primary

.wp-block-button.is-style-primary{
	flex: 1 0;

	.wp-block-button__link{
		background-color: $transparent;
		color: $color-primary;
		border: $color-primary 2px solid;
		border-radius: .5rem;
		position: relative;
		padding-left: 0;
		font-weight: bold;
		padding: $spacing-x-large;
		display: flex;
		flex: 1 0;
		gap: $spacing-medium; 
		align-items: center;
		justify-content: center;

		img{
			max-height: 20px;
			max-width: 20px!important;
		}

		&::before{
			content: '';
			position: absolute;
			z-index: -1;
			inset: 0;
			width: 0;
			height: 100%;
			background-color: currentColor;
		}

		&:hover{
			color: $color-contrast;
			transition: all .25s $ease-circ;

			img{
				filter: brightness(100);
			}

			&::before{
				content: '';
				width: 100%;
				background-color: $color-primary;
				transition: width .25s $ease-circ;
			}
		}
	}
}