@use "../../utils" as *;

.is-block-cover{
    rotate: 35deg;
}

// Registerd style is-blurred

.is-style-blurred{
    overflow-y: visible;

    .wp-block-cover{
        &__image-background, &__video-background{
            scale: 1.5 1;
            filter: blur(100px) brightness(1.2) contrast(.5) saturate(1.5);
            transition: all 2s ease-out;
        }
    }

    &.blurred-active{
        .wp-block-cover{
            &__image-background, &__video-background{
                scale: 1;
                filter: blur(0) brightness(1) contrast(1) saturate(1);
                transition: all 2s ease-out;
            }
        }
    }
}

// Registered style is-faded

.is-style-faded{
    .wp-block-cover__background{
        -webkit-mask-image: $custom-fade;
        mask-image: $custom-fade;
    }
}

.is-style-faded{
    .wp-block-cover__image-background, .wp-block-cover__video-background{
        -webkit-mask-image: $custom-fade;
        mask-image: $custom-fade;
    }
}