@use "../../utils" as *;

.wp-block-navigation-item a:not(.wp-element-button){
	padding: 0;
}

//
// All link styling
//

.wp-block-navigation .wp-block-navigation-item,
.wp-block-navigation__responsive-container .wp-block-navigation-item {
	text-wrap-style: balance;
}

// First level links only

.wp-block-navigation__responsive-container .wp-block-navigation__container:first-of-type {
	>.wp-block-navigation-item>.wp-block-navigation-item__content {
		min-width: max-content;
		font-weight: bold;
	}
}

// registerd styles

.wp-block-navigation-item.is-style-box {
	display: flex;
	flex-direction: column;
	flex: 1 1 200px;
	border: solid $color-contrast 2px;
	height: clamp(200px, 15svh, 300px);


	img,
	svg {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}
}

//
// Link hambuger styling only
//

.wp-block-navigation.is-style-mega-menu:has(.is-menu-open) {
	.wp-block-navigation__responsive-container.is-menu-open {

		// First level links only
		.wp-block-navigation__container:first-of-type {
			>.wp-block-navigation-item>.wp-block-navigation-item__content {
				font-size: $font-size-x-large;
			}
		}

		.wp-block-navigation__responsive-container-content {
			align-items: center;
			width: 100%;
			height: 100svh;
			padding: $spacing-large;
			align-items: stretch;
		}

		.header__cta-wrapper {
			width: unset;
			height: unset;

			.mello-button-icon__button-text{
				width: 100%;
				max-width: unset;
				text-align: right;
				padding-right: .5em;
				text-transform: capitalize;
			}
		}
	}
}

//
// Link animations on menu open
//

@keyframes mega-menu-open {
	from {
		opacity: 0;
	}
}

.is-style-mega-menu {
	[aria-expanded="true"]~ {
		.wp-block-navigation__submenu-container {

			.wp-block-group,
			.wp-block-navigation-item {
				animation: mega-menu-open 750ms;
				animation-timing-function: $ease-circ;
				animation-fill-mode: both;

				@for $i from 1 through 10 {

					// create a loop of animation delay for each child
					&:nth-child(#{$i}n) {
						animation-delay: #{$i * 0.1}s;
					}
				}
			}
		}
	}
}