@use "../../utils" as *;

.wp-block-navigation .wp-block-navigation-item, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item{

	text-wrap-style: balance;

	&.is-style-link-icon{
		.wp-block-navigation-submenu__toggle.wp-block-navigation-submenu__toggle{
			padding: 0 0 0 0;
		}
		.wp-block-navigation__submenu-icon{
			@include always-visually-hidden
		}
	}

	&.is-style-link-button{
		.wp-block-navigation-item__content{
			padding: $spacing-small $spacing-medium;
			background-color: $color-primary;
			border-radius: $radius-small;
			color: $color-base;
			font-size: $font-size-medium;

			@include primary-button-arrow-style();
		}

		@include primary-button-arrow-hover();
	}

	&.is-style-link-chevron{
		.wp-block-navigation-item__content span{
			@include arrow-chevron-right-after()
		}

		&:hover{
			.wp-block-navigation-item__content span::after{
				@include arrow-bounce();
			}
		}
	}

	&.is-style-link-box{
		flex: 1;
		flex-wrap: nowrap;
		flex-direction: row!important;
		width: 100%;
		max-width: 440px;
		border-radius: $radius-small;
		padding: $spacing-medium;
		background-color: $color-tertiary-2!important;
		gap: $spacing-large;

		.wp-block-navigation-item__content{
			display: flex;
			flex-wrap: nowrap;
			flex-direction: column;
			justify-content: center;
			gap: .5;
			height: 100%;
			width: 100%;
			padding: $spacing-medium;
		}

		.wp-block-navigation-item__label{
			@include arrow-chevron-right-after();
			justify-content: flex-start;
		}

		&:has(a:hover, a:focus){
			background-color: $color-tertiary!important;

			.wp-block-navigation-item__label::after{
				@include arrow-bounce();
			}			
			img, svg{
				scale: 1.1;
			}
		}

		img, svg{ // link image
			transition: $ease-bounce $speed-medium;
			width: 40%;
			min-width: 30px;
			max-width: 90px;
			height: auto;
			aspect-ratio: 1/1;
			object-fit: cover;
			order: -1;
		}

		// &:hover, &:focus-within{
		// 	background-color: $color-tertiary!important;
			
		// 	img, svg{
		// 		scale: 1.1;
		// 	}
		// }
	}

	&.is-style-link-tag{
		border-radius: $radius-small;
		background-color: $color-tertiary-2;

		.wp-block-navigation-item__content{
			font-size: $font-size-small;
			padding: calc($spacing-small * 0.5) $spacing-small!important;
		}
	}
}

.submenu-inner-ul__solutions{
	.is-style-link-box{
		img, svg{ // link image
			object-fit: contain!important;
		}
	}
}