// Core Block - Posts

@use "../../utils" as *;

//
//  Default styling
//

.wp-block-post:has(a:hover) {
	.wp-block-post-featured-image {
		img,
		.mello-featured-video {
			filter: brightness(1.1);
			scale: 1.1;
		}
	}
}

//
//  Type posts
//

.wp-block-post.type-post {
	position: relative;

	.wp-block-post-featured-image {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: $radius-medium;
		background-color: $color-tertiary;
		padding: $spacing-large;
		aspect-ratio: 1/1;
		flex: 1 1 13em;

		img,
		svg {
			width: 100%;
			max-width: 200px;
			transition: scale $ease-bounce $speed;
			object-fit: contain;
		}
	}

	.is-vertical {
		flex: 2 1 14em;

		@include for-tablet-portrait-up {
			padding: 0 $spacing-small;
		}
	}
}

//
//  Type service
//

.wp-block-post.type-services {
	.wp-block-post-featured-image {
		translate: -5% 0;
		overflow: visible;
	}
}

//
//  Type team
//

.wp-block-post.type-team {
	> .wp-block-post-featured-image {
		overflow: visible;

		a {
			border-radius: $radius-medium;
			overflow: clip;
		}
	}
	.hover-squiggles {
		position: absolute;
		inset: 0;
		overflow: visible;
		pointer-events: none;
		opacity: 0;
		transform: scale(0.8) rotate(-10deg);
		transition: all 0.4s ease;

		img {
			position: absolute;
			aspect-ratio: 1;
			width: 30%;
			object-fit: contain;
			animation: rotate-small 1s infinite alternate-reverse steps(4);

			&:nth-child(1) {
				top: -3%;
				left: -3%;
			}
		}
	}

	&:hover .hover-squiggles {
		opacity: 1;
		transform: scale(1) rotate(0deg);
	}
}

//
// If post template has arrow after style then animate it
//

.wp-block-post:has(.is-style-arrow-after) {
	&:has(a:hover) {
		.wp-block-post-featured-image {
			img,
			svg {
				scale: 1.1;
			}
		}

		.wp-block-post-title.is-style-arrow-after a::after {
			@include arrow-bounce();
		}
	}
}

@keyframes arrow-bounce {
	0%,
	100% {
		translate: 0 0;
	}
	30% {
		translate: 0.5em 0;
	}
}

//
// Type FAQ
//

.wp-block-search-filter-search {
	flex: 1;
}

.wp-block-post-template:has(
		.wp-block-post.type-faq:hover,
		.wp-block-post.type-glossary:hover
	) {
	.wp-block-post.type-faq,
	.wp-block-post.type-glossary {
		opacity: 0.5;
	}
}

.wp-block-post.type-faq,
.wp-block-post.type-glossary {
	transition: opacity 0.5s ease-out;

	.wp-block-details summary {
		padding: $spacing-large 0;
		font-size: calc($font-size-large + 30%);
	}
	.wp-block-post-title {
		font-weight: 400;
	}
	.entry-content {
		font-size: $font-size-large;
		margin-block-end: $spacing-x-large;
	}

	&:hover {
		opacity: 1 !important;
	}
	&:has(+ :hover),
	&:hover + li {
		// Select list item before and after the hovered one
		opacity: 0.75 !important;
	}
}

.is-section-faqs .wp-block-post.type-faq {
	.wp-block-details summary {
		padding: $spacing-medium 0;
		font-size: calc($font-size-medium + 30%);
		font-weight: 700;
	}
	.wp-block-post-title {
		font-weight: 400;
	}
	.entry-content {
		font-size: $font-size-medium;
	}
}

//
// Type work / portfolio with award badge
//

*:has( > .work-award-badge){
	position: relative;
}
.wp-block-post .work-award-badge {
	position: absolute;
	inset: 3% 3% auto auto;
}

//
//  Items on search page
//

body.search .wp-block-post {
	position: relative;
	opacity: 1 !important;

	.wp-block-post-featured-image {
		position: absolute;
		z-index: -1;
		inset: 0 8em 0 auto;
		opacity: 0;
		min-height: 30svh;
		margin: auto;
		object-fit: contain;
		transition: opacity 0.5s $ease-circ;
		pointer-events: none;
		background-color: $color-tertiary;
	}

	&:has(a:hover) {
		.wp-block-post-featured-image {
			opacity: 1;
		}
	}
}
