//  Core query block styling

@use "../../utils" as *;

// .wp-block-query {
//   font-weight: 400;
// }

// .page-numbers {
//   text-decoration: none;
//   padding: $spacing-small;
// }

// span.page-numbers.current {
//   color: $color-primary;
// }

// // Registered style carousel

// .wp-block-query{
//   &.is-style-carousel{
//     position: relative;

//     // .slick-list{
//     //   overflow: visible;
//     // }

//     .slick-slide{
//       .wp-block-post-featured-image img{
//         animation: currentSlideOut 1s $ease-circ;
//       }

//       &.slick-active{
//         .wp-block-post-featured-image img{
//           animation: currentSlideIn 1s $ease-circ;
//         }
//       }

//       @keyframes currentSlideIn{
//         from{
//           translate: 3rem 0;
//         }
//       }
//       @keyframes currentSlideOut{
//         to{
//           translate: -3rem 0;
//         }
//       }
//     }

//     // .slick-dots{
//     //   bottom: 0;

//     //   li{
//     //     margin: unset;
//     //     padding: unset;
//     //     min-width: 100px;
//     //     height: .2rem;
//     //     background-color: $color-tertiary-1;

//     //     &.slick-active{
//     //       background-color: $color-primary;
//     //     }

//     //     button{
//     //       width: 100%;
//     //       height: 100%;
//     //       padding: unset;

//     //       &::before{
//     //         display: none;
//     //       }
//     //     }
//     //   }
//     // }

//     .wp-block-column:first-child{
//       position: relative;

//       .wp-block-buttons{
//         position: absolute;
//         margin: 0;
//         bottom: 0;
//         right: 0;
//         background-color: $color-base;
//         a{
//           display: inline-block;
//           padding: var(--wp--preset--spacing--40) var(--wp--preset--spacing--50);
//         }
//       }
//     }

//   }

// }

// // Registered style list

// .wp-block-query{
//   &.is-style-list{
//     .wp-block-post{
//       position: relative;
//       border-bottom: 1px solid $color-tertiary-1;

//       .wp-block-post-featured-image{
//         position: absolute;
//         z-index: +1;
//         inset: 0;
//         margin: auto 0 auto auto;
//         opacity: 0;
//         pointer-events: none;

//         transition: opacity .5s $ease-circ;
//       }

//       &:hover{
//         a{
//           color: $color-primary;
//         }
//         .wp-block-post-featured-image{
//           opacity: 1;
//         }
//       }
//     }
//   }
// }


// // is style scrollable

// .is-style-scrollable{
//     height: 500vh;
//     position: relative;

//     ul {
//       box-sizing: border-box;
//       display: flex;
//       position: sticky;
//       top: 0;
//     }

//     li {
//       box-sizing: border-box;
//       display: flex;
//       width: 100%;
//       height: 100svh;
//       flex: 0 0 auto;
//       // align-items: center;
//       justify-content: center;
//       flex-direction: column;
//       overflow: hidden;

//       // .wp-block-columns{
//       //   border: solid 3px purple;
//       // }
//     }

//     @include breakpoint-min-max(medium){
//       .wp-block-columns{
//         display: grid;

//         .wp-block-column:first-child{
//           grid-column: 1;
//           grid-row: 1;
//           z-index: -1;
//           max-width: 85%;
//         }
//         .wp-block-column:nth-child(2){
//           grid-column: 1;
//           grid-row: 1;
//           max-width: 450px;
//           align-self: flex-end;
//           justify-self: end;
//         }
//       }
//     }
  
//   .wp-block-post-featured-image{
//     max-height: 70svh;
//   }
//   .wp-block-post img{
//     scale: 1.1;
//     max-height: 80svh;
//   }
// }

// .progress {
//   position: sticky;
//   inset: 0;
//   margin: auto;
//   max-width: calc(100% - $spacing-x-large*2);
//   height: 5px;
//   background: $color-primary;
//   bottom: 50px;
//   transform: scaleX(0);
// }

//
// Query Carousel - Registered style is-style-carousel
//

.is-style-carousel{
    .slick-slider{
        contain: paint;
    }
    .slick-track{
        display: flex;
        gap: $spacing-x-large;
    }
    .slick-slide{
        cursor: grab;
    }
    .slick-disabled{
        opacity: .5;
    }
}