// Core Block Read more

@use "../../utils" as *;

.wp-block-read-more:not(.is-query-featured-work .wp-block-read-more){
    background-color: $transparent;
    color: $color-primary;
    position: relative;
    padding: $spacing-small $spacing-medium;
    padding-left: 0;

    &::after{
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        width: 0;
        height: 100%;
        background-color: currentColor;
    }

    &:hover{
        color: $color-base;
        padding-left: $spacing-medium;
        transition: all .25s $custom-transition;

        &::after{
            content: '';
            width: 100%;
            background-color: $color-primary;
            transition: width .25s $custom-transition;
        }
    }
}