// Core Block Read more

@use "../../utils" as *;


//
//  Default style
//

.wp-block-read-more{
    font-weight: 700;
    padding: $spacing-small 0;
    border-radius: unset;
    background-color: $transparent;
    position: relative;

    @include line-under-always();

}

//
// Registered style - Secondary
//

.wp-block-read-more.is-style-secondary{
    @include arrow-right-medium-after()
}

//
// Registered style - Tertiary
//

.wp-block-read-more.is-style-tertiary{
    padding: $spacing-small 0;
    border-radius: unset;
    background-color: $transparent;
    position: relative;

    @include line-under();
}