/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

@use "../../scss/utils/" as *;


.wp-block-block-theme-cursor {
	font-size: $font-size-small;
	padding: $spacing-medium;
	background-color: pink;
}
